.reviews-thumb
    margin-bottom 40px

    &__section
        display flex
        align-items center
        background-color #fff
        box-shadow 0 18px 54px rgba(0, 0, 0, 0.07)

        @media (max-width 640px)
            display block

    &__body
        // width 1090px
        max-width 100%
        padding 65px 70px 60px 60px
        // margin 0 auto
        // background-color #fff
        // box-shadow 0 18px 54px rgba(0, 0, 0, 0.07)

        // @media (max-width 1280px)
        //     width 768px

        @media (max-width 959px)
            padding 30px

    &__img
        flex 0 0 340px
        width 340px
        max-width 340px
        position relative
        &:before
            content ''
            position absolute
            top 45%
            left 45%
            background url(../img/loupe-w.png) 50% 50% no-repeat
            pointer-events none
            width 39px
            height 41px
            transition transform 0.5s

        &:hover
            &:before
                transform: scale(1.1);

        img
            max-width 100%
            height auto

        @media (max-width 640px)
            width 100%
            max-width 100%

    &__name
        font-size 20px
        color #333
        font-weight 400
        padding-bottom 5px
        margin-bottom 15px

        @media (max-width 639px)
            font-size 18px

    &__text
        font-size 18px
        color #333333
        font-weight 400

        @media (max-width 767px)
            font-size 14px

    &__btn-more
        margin -25px auto 0
        position relative
        z-index 5
