.d-newsText
	flex none
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	@media (max-width:1024px)
		font-size 15px
		line-height 1.3
	&__inner
		margin 0 20px
		@media (max-width:1024px)
			margin 0
	&__title
		color: #333333;
		font-size: 24px;
		font-weight: 600;
		line-height: 30px;
		margin-bottom 20px
		max-width 975px
		@media (max-width:1024px)
			font-size 22px
			line-height 1.2
	&__text
		display:flex;
		@media (max-width:1024px)
			flex-direction: column;
		&-img
			flex 0 0 49%
			max-width 49%
			width 100%
			@media (max-width:1024px)
				flex 0 0 100%
				max-width 100%
				margin-bottom 10px
			img
				width 100%
		&-anonce
			margin-left 30px
			@media (max-width:1024px)
				margin-left 0
		&-title
			font-weight 700
			margin-bottom 10px
	ul
		padding: 0 0 0 22px;
		list-style-type none
		li
			position relative
			margin-bottom 5px
			&:before
				content ''
				position absolute
				top 8px
				left -22px
				width 6px
				height 6px
				background #e21a1a
				border-radius 50%
			