<div block="b-structuralUnits">
	<div elem="title"><h1 class="site-title contain">Структурные подразделения</h1></div><!-- <= title -->
	<div elem="inner" class="contain">
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">ПТБ «Аэроэкспресс»</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/units.png" alt=""></div><!-- <= item-img -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">ПТБ «Аэроэкспресс»</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/units.png" alt=""></div><!-- <= item-img -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">ПТБ «Аэроэкспресс»</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/units.png" alt=""></div><!-- <= item-img -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">ПТБ «Аэроэкспресс»</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/units.png" alt=""></div><!-- <= item-img -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">ПТБ «Аэроэкспресс»</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/units.png" alt=""></div><!-- <= item-img -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">ПТБ «Аэроэкспресс»</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/units.png" alt=""></div><!-- <= item-img -->
			</a>
		</div><!-- <= item -->
	</div><!-- <= inner -->
</div><!-- b-structuralUnits -->