.b-structuralUnits
    margin-bottom 105px
    @media (max-width:1024px)
        margin-bottom 50px
    &__title
        h1
            padding-top 20px
            padding-left 70px
            @media (max-width:640px)
                line-height 1.2
                padding-left 20px
            &:before
                left -306px
    &__inner
        padding 0 40px
        display:flex;
        flex-wrap wrap
        justify-content space-between
        @media (max-width:1284px)
            justify-content center
            align-items center
            padding 0 20px
    &__item
        text-decoration none
        margin-bottom 40px
        max-width 393px
        width 100%
        @media (max-width:1284px)
            max-width 325px
            padding 0 5px
        @media (max-width:1054px)
            max-width 33%
            flex 0 0 33%
        @media (max-width:820px)
            max-width 49%
            flex 0 0 49%
        @media (max-width:548px)
            flex 0 0 100%
            max-width 393px
        @media (max-width:480px)
            padding 0
        &-title
            color: #333333;
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
            margin-bottom 20px
            transition color .5s
        &-link
            &:hover
                text-decoration none
                .b-structuralUnits__item-title
                    color #e21a1a
                .b-structuralUnits__item-img img
                    transform scale(1.1)
        &-img
            overflow hidden
            img
                width 100%
                transition transform .5s
                