<div block="b-partners">
	<div elem="title"><h1 class="site-title contain">Наши партнеры</h1></div><!-- <= title -->
	<div elem="text" class="contain">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div><!-- <= text -->
	<div elem="inner" class="contain">
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">Центр транспортной безопасности</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/partners1.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД Охрана</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/partners2.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД АЦ</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/partners3.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
	</div><!-- inner -->
</div><!-- b-partners -->