.b-partners
    flex none
    margin-bottom 80px
    @media (max-width:480px)
        margin-bottom 50px
    &__title
        h1
            padding-top 20px
            padding-left 70px
            @media (max-width:640px)
                line-height 1.2
                padding-left 20px
            &:before
                left -306px
    &__text
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        line-height 1.4
        padding 0 40px
        margin-bottom 50px
        @media (max-width:1024px)
            padding 0 20px
            margin-bottom 30px
        @media (max-width:480px)
            font-size 15px
    &__inner
        padding 0 40px
        display:flex;
        flex-wrap wrap
        justify-content space-between
        @media (max-width:1280px)
            justify-content space-around
        @media (max-width:1024px)
            padding 0 20px
        @media (max-width:846px)
            flex-direction: column;
            justify-content center
            align-items center
    &__item
        max-width 393px
        width 100%
        margin-bottom 40px
        @media (max-width:768px)
            &:last-child
                margin-bottom 0
        &-title
            color: #333333;
            font-size: 22px;
            font-weight: 700;
            margin-bottom 10px
            transition color .5s
            @media (max-width:480px)
                font-size 18px
        &-img
            margin-bottom 15px
            overflow hidden
            img
                width 100%
                transition transform .5s
        &-text
            color: #333333;
            font-size: 18px;
            font-weight: 400;
            line-height 1.4
            transition color .5s
            @media (max-width:480px)
                font-size 15px
        &-link
            &:hover
                text-decoration none
                .b-partners__item-title,
                .b-partners__item-text
                    color #e21a1a
                .b-partners__item-img img
                    transform: scale(1.1);