<header block="app-header" {% if headerLine == 1 %}mods="headerLine"{% endif %}>
    <div elem="section">
        <div elem="inner">
            <div elem="top-line" class="contain">
                {% include "logo.html" %}
                {% include "top-menu.html" %}
                {% include "contacts.html" %}
            </div>
        </div>
        {% include "first-screen.html" %}
    </div>
</header><!-- b:app-header -->
