.app-header
    flex none
    margin-bottom 60px

    @media (max-width 960px)
        margin-bottom 30px
        
    &--headerLine
    	// padding-bottom 10px
    	margin-bottom 5px
    	border-bottom: 1px solid #e6e6e6
    
    &__top-line
        display flex
        align-items center
        justify-content space-between

        @media (max-width 1279px)
            display none
