<div block="accordion">
    <div elem="section" class="contain">
        <div elem="items">
            <div elem="item">
                <div elem="title" class="js-toggle-acc">Руководитель отдела продаж</div>
                <div elem="body">
                    <div elem="list">
                        <div elem="name">Обязанности:</div>
                        <ul>
                            <li>Разработка ценовой и скидочной политики компании.</li>
                            <li>Организация сбыта продукции.</li>
                            <li>Разработка плана отдела продаж и координация работы сотрудников.</li>
                            <li>Организация работы по ведению, анализу и систематизации клиентской базы.</li>
                            <li>Контроль за задолженностями клиентов.</li>
                            <li>Организация тренингов, повышения квалификации и дополнительного образования сотрудников отдела.</li>
                            <li>Составление отчет документации отдела.</li>
                        </ul>
                    </div>
                    <div elem="list">
                        <div elem="name">Требования:</div>
                        <ul>
                            <li>Успешный опыт работы руководителем отдела продаж от 4-х лет.</li>
                            <li>Уверенный пользователь ПК (MS Office, Word, Excel).</li>
                            <li>Обязательно уверенное пользование CRM-системой Битрикс24.</li>
                            <li>Развитые коммуникативные навыки, грамотная речь, умение обучать и обучаться.</li>
                            <li>Высокая ориентация на результат и инициативность в принятии решений.</li>
                            <li>Нацеленность на профессиональное развитие в области продаж и развития персонала.</li>
                            <li>Развитые лидерские качества и управленческие навыки.</li>
                        </ul>
                    </div>
                    <div elem="list">
                        <div elem="name">Условия:</div>
                        <ul>
                            <li>Отдельный комфортный кабинет.</li>
                            <li>Официальное трудоустройство.</li>
                            <li>Премии в конце каждого месяца.</li>
                            <li>Чай, кофе и сладости за счет компании.</li>
                        </ul>
                    </div>
                    <span elem="price">Зарплата:  80 000 + %</span>
                    <a elem="btn-send-mess" class="site-btn" href="#" data-remodal-target="modal">Отправить сообщение</a>
                </div>
            </div>
            <div elem="item">
                <div elem="title" class="js-toggle-acc">Руководитель отдела продаж</div>
                <div elem="body">
                    <div elem="list">
                        <div elem="name">Обязанности:</div>
                        <ul>
                            <li>Разработка ценовой и скидочной политики компании.</li>
                            <li>Организация сбыта продукции.</li>
                            <li>Разработка плана отдела продаж и координация работы сотрудников.</li>
                            <li>Организация работы по ведению, анализу и систематизации клиентской базы.</li>
                            <li>Контроль за задолженностями клиентов.</li>
                            <li>Организация тренингов, повышения квалификации и дополнительного образования сотрудников отдела.</li>
                            <li>Составление отчет документации отдела.</li>
                        </ul>
                    </div>
                    <div elem="list">
                        <div elem="name">Требования:</div>
                        <ul>
                            <li>Успешный опыт работы руководителем отдела продаж от 4-х лет.</li>
                            <li>Уверенный пользователь ПК (MS Office, Word, Excel).</li>
                            <li>Обязательно уверенное пользование CRM-системой Битрикс24.</li>
                            <li>Развитые коммуникативные навыки, грамотная речь, умение обучать и обучаться.</li>
                            <li>Высокая ориентация на результат и инициативность в принятии решений.</li>
                            <li>Нацеленность на профессиональное развитие в области продаж и развития персонала.</li>
                            <li>Развитые лидерские качества и управленческие навыки.</li>
                        </ul>
                    </div>
                    <div elem="list">
                        <div elem="name">Условия:</div>
                        <ul>
                            <li>Отдельный комфортный кабинет.</li>
                            <li>Официальное трудоустройство.</li>
                            <li>Премии в конце каждого месяца.</li>
                            <li>Чай, кофе и сладости за счет компании.</li>
                        </ul>
                    </div>
                    <span elem="price">Зарплата:  80 000 + %</span>
                    <a elem="btn-send-mess" class="site-btn" href="#" data-remodal-target="modal">Отправить сообщение</a>
                </div>
            </div>
            <div elem="item">
                <div elem="title" class="js-toggle-acc">Руководитель отдела продаж</div>
                <div elem="body">
                    <div elem="list">
                        <div elem="name">Обязанности:</div>
                        <ul>
                            <li>Разработка ценовой и скидочной политики компании.</li>
                            <li>Организация сбыта продукции.</li>
                            <li>Разработка плана отдела продаж и координация работы сотрудников.</li>
                            <li>Организация работы по ведению, анализу и систематизации клиентской базы.</li>
                            <li>Контроль за задолженностями клиентов.</li>
                            <li>Организация тренингов, повышения квалификации и дополнительного образования сотрудников отдела.</li>
                            <li>Составление отчет документации отдела.</li>
                        </ul>
                    </div>
                    <div elem="list">
                        <div elem="name">Требования:</div>
                        <ul>
                            <li>Успешный опыт работы руководителем отдела продаж от 4-х лет.</li>
                            <li>Уверенный пользователь ПК (MS Office, Word, Excel).</li>
                            <li>Обязательно уверенное пользование CRM-системой Битрикс24.</li>
                            <li>Развитые коммуникативные навыки, грамотная речь, умение обучать и обучаться.</li>
                            <li>Высокая ориентация на результат и инициативность в принятии решений.</li>
                            <li>Нацеленность на профессиональное развитие в области продаж и развития персонала.</li>
                            <li>Развитые лидерские качества и управленческие навыки.</li>
                        </ul>
                    </div>
                    <div elem="list">
                        <div elem="name">Условия:</div>
                        <ul>
                            <li>Отдельный комфортный кабинет.</li>
                            <li>Официальное трудоустройство.</li>
                            <li>Премии в конце каждого месяца.</li>
                            <li>Чай, кофе и сладости за счет компании.</li>
                        </ul>
                    </div>
                    <span elem="price">Зарплата:  80 000 + %</span>
                    <a elem="btn-send-mess" class="site-btn" href="#" data-remodal-target="modal">Отправить сообщение</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- accordion -->