.accordion
    margin-top 45px

    &__item
        padding 0 25px
        margin-bottom 40px
        background-color #fff
        box-shadow 0 18px 54px rgba(0, 0, 0, 0.07)
        border-bottom 3px solid #e21a1a

        @media (max-width 480px)
            padding-right 15px
            padding-left 15px

    &__body
        display none

    &__title
        font-size 24px
        color #333
        font-weight 600    
        line-height 24px
        padding-top 21px
        padding-bottom 21px
        cursor pointer
        position relative
        &:after
            content ''
            position absolute
            top 50%
            right 0px
            background url('../img/right-arrow.svg') 0 0 no-repeat
            width 16px
            height 18px
            transform rotate(90deg) translateX(-50%)
        
        &.is-active
            &:after
                top 25%
                transform rotate(270deg) translateX(-50%)

        @media (max-width 480px)
            font-size 16px
            padding-top 15px
            padding-bottom 15px         

    &__list
        margin-bottom 40px

        ul
            list-style-type none  
            padding-left 0
            margin-bottom 0
            
            li
                font-size 16px
                color #333
                font-weight 600
                line-height 22px 
                padding-left 20px 
                position relative
                margin-bottom 3px
                &:before
                    content ''
                    position absolute
                    top 7px
                    left 0
                    width 6px
                    height 6px
                    background-color #e21a1a
                    border-radius 50%

                @media (max-width 480px)
                    font-size 14px    

    &__name
        font-size 18px
        color #333
        font-weight 600
        line-height 22px 
        margin-bottom 20px   

        @media (max-width 480px)
            font-size 16px

    &__price
        font-size 16px
        color #333
        font-weight 600
        line-height 22px   

    &__btn-send-mess
        min-width 250px
        margin-top 50px
        margin-bottom 30px    