.remodal
    max-width 486px !important
    
    input[type='email'].styler,
    input[type='password'].styler,
    input[type='search'].styler,
    input[type='tel'].styler,
    input[type='text'].styler,
    input[type='url'].styler,
    textarea {
        padding 12px
        background: #fff;
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        color: #33363b;
        height: 51px;
        margin-bottom: 20px;
        border: 1px solid #9a9a9a;
        border-radius 0
        &::placeholder {
            color #aaaeb1
        }
    }
    input[type='search'].styler {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    textarea {
        overflow: auto;
        height: 153px;
        width 100%
    }
    input[type='email'].styler:hover,
    input[type='password'].styler:hover,
    input[type='search'].styler:hover,
    input[type='tel'].styler:hover,
    input[type='text'].styler:hover,
    input[type='url'].styler:hover,
    textarea:hover {
        border-color: #e21a1a;
    }
    input[type='email'].styler:hover:focus,
    input[type='password'].styler:hover:focus,
    input[type='search'].styler:hover:focus,
    input[type='tel'].styler:hover:focus,
    input[type='text'].styler:hover:focus,
    input[type='url'].styler:hover:focus,
    textarea:hover:focus {
        border-color: #e21a1a;
        outline: none;
    }
    button.styler,
    input[type='button'].styler,
    input[type='submit'].styler,
    input[type='reset'].styler {
        margin-top 20px
        overflow: visible;
        outline: none;
        cursor: pointer;
        border-radius: 0;
        width: 157px;
        height: 51px;
        box-sizing: border-box;
        border: none; 
        transition 0.5s
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height 1.2
        border-radius: 0;
        margin-bottom 20px
        box-shadow: 0 18px 54px rgba(0, 0, 0, 0.07);
        background-color: #e21a1a;
    }
    button.styler.styler::-moz-focus-inner,
    input[type='button'].styler.styler::-moz-focus-inner,
    input[type='submit'].styler.styler::-moz-focus-inner,
    input[type='reset'].styler.styler::-moz-focus-inner {
        padding: 0;
        border: 0;
        box-shadow: none;
        background: #e72f2f;
    }
    button.styler:not([disabled]):hover,
    input[type='button'].styler:not([disabled]):hover,
    input[type='submit'].styler:not([disabled]):hover,
    input[type='reset'].styler:not([disabled]):hover,
    input[type='reset'].styler:hover {
        box-shadow: none;
        background: #e72f2f;
    }
    button.styler:active,
    input[type='button'].styler:active,
    input[type='submit'].styler:active,
    input[type='reset'].styler:active {
        box-shadow: none;
        background: #3ac6f4;
    }
    button.styler[disabled],
    input[type='button'].styler[disabled],
    input[type='submit'].styler[disabled] {
        border-color: #3ac6f4;
        background: #3ac6f4;
        box-shadow: none;
        color: #33363b;
    }

    h1
        margin-top 0
    .input
        width 100%
        &::placeholder
            color: #aaaeb1;
    .textarea
        width 100%
    .notation
        font-size 14px
        font-weight 400
        color #000
        margin-bottom 30px
        line-height 18px
        a
            color #000
            &:hover 
                text-decoration none
        
    &__notification
        display none
.remodal
    padding 0    
    background #fff
    overflow hidden
    color #33363b
    box-shadow: 0 18px 54px rgba(0, 0, 0, 0.07);
    &:before
        display none
    &__title
        padding 31px 31px
        position relative
        border-bottom 1px solid #e6e6e6
        margin 0
        h1
            color: #333333;
            font-size: 22px;
            line-height 1.2
            position absolute
            top 17px
            left 36px
            font-family: $system-font
    &__inner
        padding 32px 44px
        @media (max-width:480px)
            padding 10px 15px 35px
    label
        width 19px
        height 19px
.remodal-close
    margin 11px 44px 0 0
    width 40px
    height 40px
    border-radius 50%
    display: flex;
    align-items: center;
    justify-content: center;
    z-index 10
    outline none
    .svg-icon
        fill #cacfd0
    &:before
        display none
.myForm
    text-align left
.myForm__item-title
    font-size 12px
    color #33363
    font-weight 700
    text-align left
    margin-bottom 10px
.remodal__notification
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    text-align left
.remodal__notificationInner
    display:flex;
    height 232px
    align-items center
    justify-content center        
.myForm__checkWr
    display:flex;
    align-items center
    color: #033333;
    font-size: 16px;
    font-weight: 400;
.myForm__check
    width 40px
    flex 0 0 40px
    input[type="checkbox"]
        display:none;
    input[type="checkbox"] + label span
        display:inline-block;
        width:20px;
        height:20px;
        margin:-4px 4px 0 0;
        vertical-align:middle;
        border: 1px solid #9a9a9a;
        cursor:pointer;
        position relative
        background #fff
    input[type="checkbox"]:checked + label span
        border 1px solid #9a9a9a
        position relative
        &:before
            content ''
            position absolute
            top 4px
            left 1px
            width 17px
            height 16px
            background url(../img/check.png) 0 0 no-repeat