<div block="remodal" data-remodal-id="modal">
      <button data-remodal-action="close" class="remodal-close"><img src="img/close.png" alt=""></button>
      <div elem="title">
          <h1>Связь со специалистом</h1>
      </div>
      <div elem="inner">
          <form action="#" class="myForm">
            <div class="myForm__item">
              <input class="styler input" type="text" placeholder="Имя" required="" >
            </div>
            <div class="myForm__item">
              <input class="styler input" type="text" placeholder="+7 495 777 77 77" required="" >
            </div>
            <div class="myForm__item">
              <input class="styler input" type="text" placeholder="Email" required="" >
            </div>
            <div class="myForm__item">
              <textarea name=""cols="30" rows="10" placeholder="Сообщение"></textarea>
            </div>
            <button class="styler">Отправить</button>
            <div class="myForm__checkWr">
              <div class="myForm__check">
                <input type="checkbox" id="c1" name="cc" class="styler" checked>
                <label for="c1"><span></span></label>
              </div><!-- <= item-chek -->
              Согласен на обработку персональных данных
            </div>
          </form>
          <div elem="notification">
            <div elem="notificationInner">Спасибо за вашу заявку.<br>Мы свяжемся с Вами в ближайшее время.</div><!-- <= notificationInner -->
          </div>
      </div>
</div>