<div block="b-clientsProjects">
	<div elem="title"><h1 class="site-title contain">Наши клиенты</h1></div><!-- <= title -->
	<div elem="inner" class="contain">
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/clienproj.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/clienproj.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/clienproj.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/clienproj.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/clienproj.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/clienproj.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/clienproj.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/clienproj.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
		<div elem="item">
			<a href="#" elem="item-link">
				<div elem="item-title">РЖД</div><!-- <= item-title -->
				<div elem="item-img"><img src="img/clienproj.png" alt=""></div><!-- <= item-img -->
				<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</div><!-- <= item-text -->
			</a>
		</div><!-- <= item -->
	</div><!-- inner -->
	{% include 'pagination.html' %}
</div><!-- b-clientsProjects -->