.b-clientsProjects
    flex none
    margin-bottom 105px
    @media (max-width:480px)
        margin-bottom 50px
    &__title
        h1
            padding-top 20px
            padding-left 70px
            @media (max-width:640px)
                line-height 1.2
                padding-left 20px
            &:before
                left -306px
    &__inner
        padding 0 40px
        display:flex;
        flex-wrap wrap
        justify-content space-between
        @media (max-width:1284px)
            justify-content center
            align-items center
        @media (max-width:1024px)
            padding 0 20px
    &__item
        max-width 393px
        width 100%
        margin-bottom 40px
        @media (max-width:1284px)
            max-width 325px
            padding 0 5px
        @media (max-width:1054px)
            max-width 33%
            flex 0 0 33%
        @media (max-width:820px)
            max-width 49%
            flex 0 0 49%
            &:last-child
                margin-bottom 0
        @media (max-width:548px)
            flex 0 0 100%
            max-width 393px
        @media (max-width:480px)
            padding 0
        &-title
            color: #333333;
            font-size: 22px;
            font-weight: 700;
            margin-bottom 10px
            transition color .5s
            @media (max-width:480px)
                font-size 18px
        &-img
            margin-bottom 15px
            overflow hidden
            img
                width 100%
                transition transform .5s
        &-text
            color: #333333;
            font-size: 18px;
            font-weight: 400;
            line-height 1.4
            transition color .5s
            @media (max-width:480px)
                font-size 15px
        &-link
            &:hover
                text-decoration none
                .b-clientsProjects__item-title,
                .b-clientsProjects__item-text
                    color #e21a1a
                .b-clientsProjects__item-img img
                    transform: scale(1.1);