.b-contacts
    flex none
    margin-bottom 105px
    &__title
        h1
            padding-top 20px
            padding-left 70px
            @media (max-width:640px)
                line-height 1.2
                padding-left 20px
            &:before
                left -306px
    &__inner
        padding 0 40px
        @media (max-width:1024px)
            padding 0 20px
    &__info
        display:flex;
        padding 34px 40px
        background #fff
        box-shadow: 0 18px 54px rgba(0, 0, 0, 0.07);
        margin-bottom 50px
        flex-wrap wrap
        @media (max-width:1023px)
            flex-direction: column;
        @media (max-width:480px)
            padding 15px
        &-address,
        &-phone,
        &-mail
            color: #333333;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4;
            display:flex;
            align-items center
            margin-bottom 25px
            @media (max-width:480px)
                font-size 15px
            img
                margin-right 15px
            a
                color: #333333;
        &-address
            img
                max-width 13px
                width 100%
        &-clock
            display:flex;
            align-items flex-start
            margin-bottom 35px
            color: #333333;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4;
            @media (max-width:480px)
                font-size 15px
                margin-bottom 20px
            img 
                margin-top 5px
                max-width 19px
                width 100%
                margin-right 15px
        &-button
            margin-left 33px
            @media (max-width:480px)
                margin-left 0
            a
                color: #ffffff;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 0.64px;
                padding 15px
                box-shadow: 0 18px 54px rgba(0, 0, 0, 0.07);
                background-color: #e21a1a;
                max-width 250px
                width 100%
                display block
                text-align center
                transition background-color .5s
                &:hover
                    text-decoration none
                @media (max-width:480px)
                    margin 0 auto
        &-left,
        &-right
            flex 0 0 50%
.b-map
    height 540px
    @media (max-width:480px)
        height 370px    