<div block="b-contacts">
	<div elem="title"><h1 class="site-title contain">Контакты</h1></div><!-- <= title -->
	<div elem="inner" class="contain">
		<div elem="info">
			<div elem="info-left">
				<div elem="info-address"><img src="img/location.png" alt="">127422,  Россия,  Москва,  Тимирязевская ул., д.1-1</div><!-- <= info-address -->
				<div elem="info-phone"><img src="img/phone.png" alt=""><a href="tel:+74957777777">+7 495 777 77 77</a></div><!-- <= info-phone -->
				<div elem="info-mail"><img src="img/mailred.png" alt=""><a href="info@rzd-tb">info@rzd-tb</a></div><!-- <= info-mail -->
			</div><!-- <= info-left -->
			<div elem="info-right">
				<div elem="info-clock"><img src="img/clock.png" alt="">Мы принимаем звонки в рабочие дни с 9:00 до 18:00 по Московскому времени. В нерабочее время и праздники вы можете связаться с нами по электронной почте.</div><!-- <= info-clock -->
				<div elem="info-button"><a href="#" class="site-btn" data-remodal-target="modal">Отправить сообщение</a></div><!-- <= info-button -->
			</div><!-- <= info-right -->
		</div><!-- <= info -->
		<div block="b-map" id="standort-map"></div><!-- /b-map -->
	</div><!-- inner -->
</div><!-- b-contacts -->