.news
    margin-bottom 90px

    @media (max-width 1024px)
        margin-bottom 15px
    
    &__items
        margin-left -30px

    &__items-inner
        display flex

        @media (max-width 960px)
            flex-wrap wrap

    &__title
        display flex
        justify-content space-between   
        padding-right 45px

        @media (max-width 640px)
            line-height 20px
            padding-right 20px

    &__more
        font-size 16px
        color #333
        font-weight 400
        line-height 16px
        text-decoration underline
        align-self flex-end
        &:hover
            color #e21a1a