<div block="news">
    <div elem="section">
        <div elem="inner">
            <div elem="head" class="full-contain">
                <div elem="title" class="site-title contain">
                    Новости
                    <a elem="more" href="#">Все новости</a>
                </div>
            </div>
            <div elem="items">
                <div elem="items-inner" class="contain">
                    {% include "news-thumb.html" %}
                    {% include "news-thumb.html" %}
                    {% include "news-thumb.html" %}
                </div>
            </div>
        </div>
    </div>
</div><!-- news -->