::-moz-selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection,
h1 *::-moz-selection,
.h1 *::-moz-selection,
h2 *::-moz-selection,
.h2 *::-moz-selection,
h3 *::-moz-selection,
.h3 *::-moz-selection,
h4 *::-moz-selection,
.h4 *::-moz-selection,
h5 *::-moz-selection,
.h5 *::-moz-selection,
h6 *::-moz-selection,
.h6 *::-moz-selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection,
h1 *::selection,
.h1 *::selection,
h2 *::selection,
.h2 *::selection,
h3 *::selection,
.h3 *::selection,
h4 *::selection,
.h4 *::selection,
h5 *::selection,
.h5 *::selection,
h6 *::selection,
.h6 *::selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(33,37,41,0.54);
}

:-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

::-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

:-ms-input-placeholder {
  color: rgba(33,37,41,0.54);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
  -webkit-overflow-scrolling: touch;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.woff2") format('woff2'), url("../fonts/ProximaNova-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Light.woff2") format('woff2'), url("../fonts/ProximaNova-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Black.woff2") format('woff2'), url("../fonts/ProximaNova-Black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNovaT-Thin.woff2") format('woff2'), url("../fonts/ProximaNovaT-Thin.woff") format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Extrabld.woff2") format('woff2'), url("../fonts/ProximaNova-Extrabld.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Semibold.woff2") format('woff2'), url("../fonts/ProximaNova-Semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.woff2") format('woff2'), url("../fonts/ProximaNova-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */

.browserupgrade {
  margin: $appGutter 0;
  background: #ccc;
  color: #000;
  padding: $appGutter 0;
}

.theme-color {
  color: ;
}

/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 ;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-footer {
  -ms-flex: none;
      flex: none;
  border-top: 1px solid #f2f2f2;
}

.app-footer__btn-to-top {
  width: 47px;
  height: 47px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #e21a1a;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.app-footer__btn-to-top:hover .svg-icon--right-arrow2 {
  -webkit-transform: rotate(-90deg) translateX(5px);
          transform: rotate(-90deg) translateX(5px);
}

.app-footer__btn-to-top .svg-icon--right-arrow2 {
  fill: #fff;
  width: 20px;
  display: block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.app-footer__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 60px;
}

.app-footer__menu {
  width: 815px;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.app-footer__nav {
  width: 190px;
}

.app-footer__nav:nth-child(2) {
  width: 310px;
}

.app-footer__nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.app-footer__nav ul li {
  margin-bottom: 5px;
}

.app-footer__nav ul li a {
  font-size: 16px;
  color: #434343;
  font-weight: 400;
}

.app-footer__nav ul li a.is-title {
  font-weight: 700;
  line-height: 20px;
}

.app-footer__nav ul li:first-child {
  margin-bottom: 10px;
}

.app-footer__bot-line {
  font-size: 14px;
  color: #434343;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #f3f3f3;
}

.app-footer__bot-line a {
  font-size: 14px;
  color: #434343;
  font-weight: 400;
}

.app-footer .logo {
  margin-bottom: 25px;
}

.app-footer .logo__desc {
  display: none;
}

.app-header {
  -ms-flex: none;
      flex: none;
  margin-bottom: 60px;
}

.app-header--headerLine {
  margin-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.app-header__top-line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

html,
body {
  margin: 0;
  padding: 0;
}

html.home .app__content,
body.home .app__content {
  padding-top: 50px;
  background: url("../img/logo_bg.png") 100% 10% no-repeat, url("../img/logo_bg.png") 100% 80% no-repeat, url("../img/triangle_bg-bot.png") 0 100% no-repeat, url("../img/triangle_bg-top.png") 100% 0 no-repeat;
}

html.home .site-title:after,
body.home .site-title:after {
  display: block;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
  counter-reset: num;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.contain {
  max-width: 1310px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.full-contain {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.site-btn {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  background-color: #e21a1a;
  padding: 15px 30px;
  display: block;
  width: 160px;
  max-width: 100%;
  border: none;
  transition: background-color 0.3s;
}

.site-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #e72f2f;
}

.site-title {
  font-size: 36px;
  color: #333;
  font-weight: 700;
  line-height: 40px;
  position: relative;
  padding-top: 40px;
  padding-left: 160px;
  margin-bottom: 50px;
}

.site-title:before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -325px;
  width: 340px;
  height: 4px;
  background-color: #ededed;
}

.site-title:after {
  counter-increment: num;
  content: '0' counter(num);
  font-size: 100px;
  color: #e21a1a;
  font-weight: 700;
  line-height: 65px;
  position: absolute;
  top: 10px;
  left: 20px;
  opacity: 0.2;
  display: none;
}

.title-line {
  position: relative;
}

.title-line:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 71px;
  height: 3px;
  background-color: #e21a1a;
}

.info-text {
  font-size: 16px;
  color: #333;
  font-weight: 400;
  line-height: 22px;
  padding-right: 100px;
}

.info-text p:last-child {
  margin-bottom: 0;
}

.news-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-page {
  margin-left: -30px;
}

.news-page h1 {
  padding-left: 80px;
}

.services-page h1 {
  padding-left: 80px;
}

.tenders-page h1 {
  padding-left: 80px;
}

.reviews h1 {
  padding-left: 80px;
}

.reviews .reviews-items {
  margin-top: 50px;
}

.jobs-page h1 {
  padding-left: 80px;
}

.jobs-page .info-text {
  padding-right: 0;
}

.seo-block {
  color: #333;
  padding-left: 40px;
  margin-bottom: 90px;
}

.seo-block h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 20px;
}

.seo-block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.seo-block p:last-child {
  margin-bottom: 0;
}

.site-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.site-content ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.site-content ul li {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 22px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 3px;
}

.site-content ul li:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #e21a1a;
  border-radius: 50%;
}

.services-page .services {
  margin-bottom: 40px;
}

* {
  outline: none !important;
}

.about-us {
  margin-bottom: 100px;
}

.about-us__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.about-us__img {
  -ms-flex: 0 0 605px;
      flex: 0 0 605px;
  width: 605px;
  max-width: 605px;
}

.about-us__img img {
  max-width: 100%;
  height: auto;
}

.about-us__body {
  padding-right: 65px;
  padding-left: 60px;
}

.about-us__text {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 35px;
}

.accordion {
  margin-top: 45px;
}

.accordion__item {
  padding: 0 25px;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
  border-bottom: 3px solid #e21a1a;
}

.accordion__body {
  display: none;
}

.accordion__title {
  font-size: 24px;
  color: #333;
  font-weight: 600;
  line-height: 24px;
  padding-top: 21px;
  padding-bottom: 21px;
  cursor: pointer;
  position: relative;
}

.accordion__title:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  background: url("../img/right-arrow.svg") 0 0 no-repeat;
  width: 16px;
  height: 18px;
  -webkit-transform: rotate(90deg) translateX(-50%);
          transform: rotate(90deg) translateX(-50%);
}

.accordion__title.is-active:after {
  top: 25%;
  -webkit-transform: rotate(270deg) translateX(-50%);
          transform: rotate(270deg) translateX(-50%);
}

.accordion__list {
  margin-bottom: 40px;
}

.accordion__list ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.accordion__list ul li {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 22px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 3px;
}

.accordion__list ul li:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #e21a1a;
  border-radius: 50%;
}

.accordion__name {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 20px;
}

.accordion__price {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 22px;
}

.accordion__btn-send-mess {
  min-width: 250px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.additional-services {
  margin-bottom: 90px;
}

.additional-services__title {
  font-size: 24px;
  color: #333;
  font-weight: 700;
  margin-bottom: 30px;
}

.additional-services__items {
  width: 1240px;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.additional-services__item {
  width: 48.3%;
  margin-bottom: 30px;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
  display: -ms-flexbox;
  display: flex;
}

.additional-services__item--big {
  width: 100%;
}

.additional-services__body {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #fff;
  border-bottom: 3px solid #e21a1a;
}

.additional-services__body:hover {
  text-decoration: none;
}

.additional-services__body:hover .additional-services__name {
  color: #e21a1a;
}

.additional-services__body:hover .additional-services__img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.additional-services__img {
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.additional-services__img img {
  max-width: 100%;
  height: auto;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.additional-services__name {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  line-height: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 30px;
  transition: color 0.3s;
  width: 100%;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  position: relative;
  z-index: 1;
}

.additional-services__name .svg-icon {
  fill: #e21a1a;
}

.additional-services__name .svg-icon:not(.svg-icon--right-arrow2) {
  margin-right: 15px;
}

.additional-services__name .svg-icon--shield-icon {
  width: 24px;
}

.additional-services__name .svg-icon--right-arrow2 {
  margin-left: auto;
}

.advantage {
  margin-bottom: 90px;
}

.advantage__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.advantage__item {
  width: 25%;
  padding-left: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
}

.advantage__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 4px solid #e21a1a;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
}

.advantage__top {
  margin-bottom: 25px;
}

.advantage__icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-color: #e21a1a;
  border-radius: 50%;
}

.advantage__icon-inner img {
  max-width: 100%;
  height: auto;
}

.advantage__bot {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.advantage__desc {
  font-size: 18px;
  color: #333;
  font-weight: 700;
  text-align: center;
  width: 220px;
  margin: 0 auto;
}

.b-aboutText {
  -ms-flex: none;
      flex: none;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 105px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.b-aboutText img {
  width: 100%;
}

.b-aboutText__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.b-aboutText__right {
  margin-left: 30px;
}

.b-aboutText ul {
  padding: 0 0 0 22px;
  list-style-type: none;
}

.b-aboutText ul li {
  position: relative;
}

.b-aboutText ul li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -22px;
  width: 6px;
  height: 6px;
  background: #e21a1a;
  border-radius: 50%;
}

.b-clientsProjects {
  -ms-flex: none;
      flex: none;
  margin-bottom: 105px;
}

.b-clientsProjects__title h1 {
  padding-top: 20px;
  padding-left: 70px;
}

.b-clientsProjects__title h1:before {
  left: -306px;
}

.b-clientsProjects__inner {
  padding: 0 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.b-clientsProjects__item {
  max-width: 393px;
  width: 100%;
  margin-bottom: 40px;
}

.b-clientsProjects__item-title {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  transition: color 0.5s;
}

.b-clientsProjects__item-img {
  margin-bottom: 15px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.b-clientsProjects__item-img img {
  width: 100%;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.b-clientsProjects__item-text {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  transition: color 0.5s;
}

.b-clientsProjects__item-link:hover {
  text-decoration: none;
}

.b-clientsProjects__item-link:hover .b-clientsProjects__item-title,
.b-clientsProjects__item-link:hover .b-clientsProjects__item-text {
  color: #e21a1a;
}

.b-clientsProjects__item-link:hover .b-clientsProjects__item-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.b-clientsProjectsInner {
  -ms-flex: none;
      flex: none;
  margin-bottom: 105px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.b-clientsProjectsInner__title h1 {
  padding-top: 20px;
  padding-left: 70px;
}

.b-clientsProjectsInner__title h1:before {
  left: -306px;
}

.b-clientsProjectsInner__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.b-clientsProjectsInner__inner {
  padding: 0 40px;
}

.b-clientsProjectsInner ul {
  padding: 0 0 0 22px;
  list-style-type: none;
}

.b-clientsProjectsInner ul li {
  position: relative;
}

.b-clientsProjectsInner ul li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -22px;
  width: 6px;
  height: 6px;
  background: #e21a1a;
  border-radius: 50%;
}

.b-clientsProjectsInner__item {
  height: 400px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% 100% !important;
}

.b-clientsProjectsInner__slider {
  position: relative;
  margin-bottom: 102px;
}

.b-clientsProjectsInner__slider .owl-stage-outer {
  max-width: 1030px;
  margin: 0 auto;
}

.b-clientsProjectsInner__slider .owl-prev,
.b-clientsProjectsInner__slider .owl-next {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: #e8e8e8;
  transition: background-color 0.3s;
  position: absolute;
  top: 50%;
}

.b-clientsProjectsInner__slider .owl-prev svg,
.b-clientsProjectsInner__slider .owl-next svg {
  width: 15px;
  fill: #000;
  margin-left: 3px;
}

.b-clientsProjectsInner__slider .owl-prev:hover,
.b-clientsProjectsInner__slider .owl-next:hover {
  background-color: #e21a1a;
}

.b-clientsProjectsInner__slider .owl-prev:hover svg,
.b-clientsProjectsInner__slider .owl-next:hover svg {
  fill: #fff;
}

.b-clientsProjectsInner__slider .owl-prev {
  left: 0;
  -webkit-transform: translate(-18%, -50%) rotate(180deg);
          transform: translate(-18%, -50%) rotate(180deg);
}

.b-clientsProjectsInner__slider .owl-next {
  right: -20px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.b-clientsProjectsInner__slider .owl-dots {
  counter-reset: dots;
  min-width: 135px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  position: absolute;
  bottom: -82px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.b-clientsProjectsInner__slider .owl-dot {
  margin-right: 20px;
  position: relative;
  margin-bottom: 15px;
}

.b-clientsProjectsInner__slider .owl-dot:last-child {
  margin-right: 0;
}

.b-clientsProjectsInner__slider .owl-dot:before {
  counter-increment: dots;
  content: '0' counter(dots);
  font-size: 20px;
  color: #b4b4b4;
  font-weight: 700;
  line-height: 20px;
  transition: font-size 0.3s, color 0.3s;
  z-index: 2;
}

.b-clientsProjectsInner__slider .owl-dot:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: transparent;
  z-index: -1;
  transition: width 0.3s;
}

.b-clientsProjectsInner__slider .owl-dot:hover:before {
  color: #333;
}

.b-clientsProjectsInner__slider .owl-dot.active:before {
  font-size: 30px;
  color: #333;
}

.b-clientsProjectsInner__slider .owl-dot.active:after {
  background-color: #e21a1a;
  width: 42px;
}

.b-contacts {
  -ms-flex: none;
      flex: none;
  margin-bottom: 105px;
}

.b-contacts__title h1 {
  padding-top: 20px;
  padding-left: 70px;
}

.b-contacts__title h1:before {
  left: -306px;
}

.b-contacts__inner {
  padding: 0 40px;
}

.b-contacts__info {
  display: -ms-flexbox;
  display: flex;
  padding: 34px 40px;
  background: #fff;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.b-contacts__info-address,
.b-contacts__info-phone,
.b-contacts__info-mail {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 25px;
}

.b-contacts__info-address img,
.b-contacts__info-phone img,
.b-contacts__info-mail img {
  margin-right: 15px;
}

.b-contacts__info-address a,
.b-contacts__info-phone a,
.b-contacts__info-mail a {
  color: #333;
}

.b-contacts__info-address img {
  max-width: 13px;
  width: 100%;
}

.b-contacts__info-clock {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 35px;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.b-contacts__info-clock img {
  margin-top: 5px;
  max-width: 19px;
  width: 100%;
  margin-right: 15px;
}

.b-contacts__info-button {
  margin-left: 33px;
}

.b-contacts__info-button a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.64px;
  padding: 15px;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
  background-color: #e21a1a;
  max-width: 250px;
  width: 100%;
  display: block;
  text-align: center;
  transition: background-color 0.5s;
}

.b-contacts__info-button a:hover {
  text-decoration: none;
}

.b-contacts__info-left,
.b-contacts__info-right {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
}

.b-map {
  height: 540px;
}

.b-guide {
  margin-bottom: 105px;
}

.b-guide__title h1 {
  padding-top: 20px;
  padding-left: 70px;
}

.b-guide__title h1:before {
  left: -306px;
}

.b-guide__inner {
  padding: 0 40px;
}

.b-guide__text {
  margin-bottom: 40px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.b-guide__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.b-guide__item {
  max-width: 393px;
  width: 100%;
  background: #fff;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
  border-bottom: 3px solid #e21a1a;
}

.b-guide__item-img img {
  width: 100%;
}

.b-guide__item-anonce {
  padding: 26px;
}

.b-guide__item-title {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
}

.b-guide__item-position,
.b-guide__item-text {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 15px;
}

.b-guide__item-mail a {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  transition: color 0.5s;
}

.b-guide__item-mail a:hover {
  color: #e21a1a;
}

.b-guide__item-mail a img {
  margin-right: 12px;
}

.b-licensesCertificates {
  -ms-flex: none;
      flex: none;
  margin-bottom: 105px;
}

.b-licensesCertificates__title h1 {
  padding-top: 20px;
  padding-left: 70px;
}

.b-licensesCertificates__title h1:before {
  left: -306px;
}

.b-licensesCertificates__inner {
  padding: 0 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.b-licensesCertificates__item {
  text-decoration: none;
  margin-bottom: 40px;
  position: relative;
}

.b-licensesCertificates__item:before {
  content: '';
  position: absolute;
  top: 45%;
  left: 45%;
  background: url("../img/loupe.png") 50% 50% no-repeat;
  pointer-events: none;
  width: 39px;
  height: 41px;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.b-licensesCertificates__item:hover:before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.b-licensesCertificates__item-title {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 30px;
  transition: color 0.5s;
}

.b-licensesCertificates__item-link:hover {
  text-decoration: none;
}

.b-licensesCertificates__item-link:hover .b-structuralUnits__item-title {
  color: #e21a1a;
}

.b-licensesCertificates__item-img {
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
}

.b-licensesCertificates__item-img img {
  width: 100%;
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
  background: none;
}

.b-partners {
  -ms-flex: none;
      flex: none;
  margin-bottom: 80px;
}

.b-partners__title h1 {
  padding-top: 20px;
  padding-left: 70px;
}

.b-partners__title h1:before {
  left: -306px;
}

.b-partners__text {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  padding: 0 40px;
  margin-bottom: 50px;
}

.b-partners__inner {
  padding: 0 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.b-partners__item {
  max-width: 393px;
  width: 100%;
  margin-bottom: 40px;
}

.b-partners__item-title {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  transition: color 0.5s;
}

.b-partners__item-img {
  margin-bottom: 15px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.b-partners__item-img img {
  width: 100%;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.b-partners__item-text {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  transition: color 0.5s;
}

.b-partners__item-link:hover {
  text-decoration: none;
}

.b-partners__item-link:hover .b-partners__item-title,
.b-partners__item-link:hover .b-partners__item-text {
  color: #e21a1a;
}

.b-partners__item-link:hover .b-partners__item-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.b-partnersInner {
  -ms-flex: none;
      flex: none;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 105px;
}

.b-partnersInner__inner {
  margin: 0 20px;
}

.b-partnersInner__title {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 5px;
  max-width: 975px;
  margin-top: 40px;
}

.b-partnersInner__description {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #868686;
  border-bottom: 3px solid #e21a1a;
  display: inline-block;
  padding-bottom: 1px;
  margin-bottom: 30px;
}

.b-partnersInner__text {
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.b-partnersInner__text-img {
  -ms-flex: 0 0 49%;
      flex: 0 0 49%;
  max-width: 49%;
  width: 100%;
}

.b-partnersInner__text-img img {
  width: 100%;
}

.b-partnersInner__text-anonce {
  margin-left: 30px;
}

.b-partnersInner__text-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.b-structuralUnits {
  margin-bottom: 105px;
}

.b-structuralUnits__title h1 {
  padding-top: 20px;
  padding-left: 70px;
}

.b-structuralUnits__title h1:before {
  left: -306px;
}

.b-structuralUnits__inner {
  padding: 0 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.b-structuralUnits__item {
  text-decoration: none;
  margin-bottom: 40px;
  max-width: 393px;
  width: 100%;
}

.b-structuralUnits__item-title {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
  transition: color 0.5s;
}

.b-structuralUnits__item-link:hover {
  text-decoration: none;
}

.b-structuralUnits__item-link:hover .b-structuralUnits__item-title {
  color: #e21a1a;
}

.b-structuralUnits__item-link:hover .b-structuralUnits__item-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.b-structuralUnits__item-img {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.b-structuralUnits__item-img img {
  width: 100%;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact-info {
  margin-top: 35px;
  margin-bottom: 100px;
}

.contact-info__inner {
  width: 605px;
  max-width: 100%;
  padding: 25px 30px;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
  background-color: #fff;
}

.contact-info__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 10px;
}

.contact-info__item .svg-icon {
  fill: #c8c5c5;
  margin-right: 15px;
}

.contact-info__item .svg-icon--location-icon {
  width: 12px;
}

.contact-info__item .svg-icon--mail-icon {
  width: 16px;
}

.contact-info__title {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 30px;
}

.contact-info__icon {
  -ms-flex: 0 0 12px;
      flex: 0 0 12px;
  width: 12px;
  max-width: 12px;
  margin-right: 15px;
}

.contact-info__icon img {
  max-width: 100%;
  height: auto;
}

.contact-info__text {
  font-size: 16px;
  color: #333;
  font-weight: 400;
  line-height: 20px;
}

.contact-info__text a {
  color: inherit;
}

.contacts a {
  font-size: 18px;
  color: #333;
  font-weight: 800;
  line-height: 22px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.contacts a .svg-icon {
  fill: #e21a1a;
  margin-right: 10px;
}

.contacts a:hover {
  text-decoration: none;
}

.contacts__phone {
  cursor: default;
}

.contacts__phone .svg-icon--phone-icon {
  width: 19px;
}

.contacts__mail {
  margin-top: 15px;
}

.app-header .contacts {
  margin-left: 50px;
}

.app-header .contacts__mail {
  display: none;
  margin-top: 15px;
}

.app-header .contacts__mail .svg-icon--mail-icon {
  width: 22px;
}

.d-newsText {
  -ms-flex: none;
      flex: none;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.d-newsText__inner {
  margin: 0 20px;
}

.d-newsText__title {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
  max-width: 975px;
}

.d-newsText__text {
  display: -ms-flexbox;
  display: flex;
}

.d-newsText__text-img {
  -ms-flex: 0 0 49%;
      flex: 0 0 49%;
  max-width: 49%;
  width: 100%;
}

.d-newsText__text-img img {
  width: 100%;
}

.d-newsText__text-anonce {
  margin-left: 30px;
}

.d-newsText__text-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.d-newsText ul {
  padding: 0 0 0 22px;
  list-style-type: none;
}

.d-newsText ul li {
  position: relative;
  margin-bottom: 5px;
}

.d-newsText ul li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -22px;
  width: 6px;
  height: 6px;
  background: #e21a1a;
  border-radius: 50%;
}

.first-screen {
  position: relative;
}

.first-screen .s-path {
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.first-screen .s-path__separator {
  color: #8d8d8d;
}

.first-screen__items {
  position: relative;
}

.first-screen__items--slider .first-screen__img {
  height: 661px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% 100% !important;
}

.first-screen__items .owl-prev,
.first-screen__items .owl-next {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.3s;
  position: absolute;
  top: 50%;
}

.first-screen__items .owl-prev svg,
.first-screen__items .owl-next svg {
  width: 15px;
  fill: #000;
  margin-left: 3px;
}

.first-screen__items .owl-prev:hover,
.first-screen__items .owl-next:hover {
  background-color: #e21a1a;
}

.first-screen__items .owl-prev:hover svg,
.first-screen__items .owl-next:hover svg {
  fill: #fff;
}

.first-screen__items .owl-prev {
  left: 18%;
  -webkit-transform: translate(-18%, -50%) rotate(180deg);
          transform: translate(-18%, -50%) rotate(180deg);
}

.first-screen__items .owl-next {
  right: 16%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.first-screen__items .owl-dots {
  counter-reset: dots;
  min-width: 135px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.first-screen__items .owl-dot {
  margin-right: 20px;
  position: relative;
  margin-bottom: 15px;
}

.first-screen__items .owl-dot:last-child {
  margin-right: 0;
}

.first-screen__items .owl-dot:before {
  counter-increment: dots;
  content: '0' counter(dots);
  font-size: 20px;
  color: #b4b4b4;
  font-weight: 700;
  line-height: 20px;
  transition: font-size 0.3s, color 0.3s;
  z-index: 2;
}

.first-screen__items .owl-dot:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: transparent;
  z-index: -1;
  transition: width 0.3s;
}

.first-screen__items .owl-dot:hover:before {
  color: #fff;
}

.first-screen__items .owl-dot.active:before {
  font-size: 30px;
  color: #fff;
}

.first-screen__items .owl-dot.active:after {
  background-color: #e21a1a;
  width: 42px;
}

.first-screen__img {
  width: 1920px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  height: 500px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% 100% !important;
  -webkit-overflow-scrolling: touch;
}

.first-screen__img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 1;
}

.first-screen__img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 490px;
  height: 661px;
  background: url("../img/triangle_img-bg.png") 0 0 no-repeat;
  z-index: 1;
}

.first-screen__img-before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.first-screen__img-before:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 242px;
  background: url("../img/triangletopmin.png") 0 0 no-repeat;
  background-size: contain;
  z-index: 1;
}

.first-screen__body {
  color: #fff;
  width: 690px;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-72%, -50%);
          transform: translate(-72%, -50%);
  z-index: 2;
}

.first-screen__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.first-screen__desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.first-screen__btn-more {
  margin-top: 55px;
}

.subdivision .first-screen__title {
  font-weight: 800;
}

.about .first-screen__body {
  width: 700px;
}

.about .first-screen__title {
  font-weight: 800;
}

.detailed-services .first-screen__body {
  width: 830px;
}

.detailed-services .first-screen__title {
  font-weight: 800;
}

.detailed-services .first-screen__title:before {
  display: none;
}

.fixed-panel {
  position: fixed;
  top: -84px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 4px solid #e21a1a;
  box-shadow: 0px 12px 42px rgba(0,0,0,0.1);
  transition: top 0.3s;
  z-index: 100;
}

.fixed-panel.fixed-panel-show {
  top: 0;
}

.fixed-panel__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.fixed-panel .logo {
  top: 3px;
}

.fixed-panel .logo__img {
  width: 80px;
  margin-bottom: 0;
}

.fixed-panel .logo__desc {
  display: none;
}

.fixed-panel .top-menu__nav ul li a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fixed-panel .contacts__mail {
  display: none;
}

.remodal {
  max-width: 486px !important;
}

.remodal input[type='email'].styler,
.remodal input[type='password'].styler,
.remodal input[type='search'].styler,
.remodal input[type='tel'].styler,
.remodal input[type='text'].styler,
.remodal input[type='url'].styler,
.remodal textarea {
  padding: 12px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #33363b;
  height: 51px;
  margin-bottom: 20px;
  border: 1px solid #9a9a9a;
  border-radius: 0;
}

.remodal input[type='email'].styler::-webkit-input-placeholder,
.remodal input[type='password'].styler::-webkit-input-placeholder,
.remodal input[type='search'].styler::-webkit-input-placeholder,
.remodal input[type='tel'].styler::-webkit-input-placeholder,
.remodal input[type='text'].styler::-webkit-input-placeholder,
.remodal input[type='url'].styler::-webkit-input-placeholder,
.remodal textarea::-webkit-input-placeholder {
  color: #aaaeb1;
}

.remodal input[type='email'].styler::-moz-placeholder,
.remodal input[type='password'].styler::-moz-placeholder,
.remodal input[type='search'].styler::-moz-placeholder,
.remodal input[type='tel'].styler::-moz-placeholder,
.remodal input[type='text'].styler::-moz-placeholder,
.remodal input[type='url'].styler::-moz-placeholder,
.remodal textarea::-moz-placeholder {
  color: #aaaeb1;
}

.remodal input[type='email'].styler:-ms-input-placeholder,
.remodal input[type='password'].styler:-ms-input-placeholder,
.remodal input[type='search'].styler:-ms-input-placeholder,
.remodal input[type='tel'].styler:-ms-input-placeholder,
.remodal input[type='text'].styler:-ms-input-placeholder,
.remodal input[type='url'].styler:-ms-input-placeholder,
.remodal textarea:-ms-input-placeholder {
  color: #aaaeb1;
}

.remodal input[type='email'].styler::-ms-input-placeholder,
.remodal input[type='password'].styler::-ms-input-placeholder,
.remodal input[type='search'].styler::-ms-input-placeholder,
.remodal input[type='tel'].styler::-ms-input-placeholder,
.remodal input[type='text'].styler::-ms-input-placeholder,
.remodal input[type='url'].styler::-ms-input-placeholder,
.remodal textarea::-ms-input-placeholder {
  color: #aaaeb1;
}

.remodal input[type='email'].styler::placeholder,
.remodal input[type='password'].styler::placeholder,
.remodal input[type='search'].styler::placeholder,
.remodal input[type='tel'].styler::placeholder,
.remodal input[type='text'].styler::placeholder,
.remodal input[type='url'].styler::placeholder,
.remodal textarea::placeholder {
  color: #aaaeb1;
}

.remodal input[type='search'].styler {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.remodal textarea {
  overflow: auto;
  height: 153px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.remodal input[type='email'].styler:hover,
.remodal input[type='password'].styler:hover,
.remodal input[type='search'].styler:hover,
.remodal input[type='tel'].styler:hover,
.remodal input[type='text'].styler:hover,
.remodal input[type='url'].styler:hover,
.remodal textarea:hover {
  border-color: #e21a1a;
}

.remodal input[type='email'].styler:hover:focus,
.remodal input[type='password'].styler:hover:focus,
.remodal input[type='search'].styler:hover:focus,
.remodal input[type='tel'].styler:hover:focus,
.remodal input[type='text'].styler:hover:focus,
.remodal input[type='url'].styler:hover:focus,
.remodal textarea:hover:focus {
  border-color: #e21a1a;
  outline: none;
}

.remodal button.styler,
.remodal input[type='button'].styler,
.remodal input[type='submit'].styler,
.remodal input[type='reset'].styler {
  margin-top: 20px;
  overflow: visible;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  width: 157px;
  height: 51px;
  box-sizing: border-box;
  border: none;
  transition: 0.5s;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  border-radius: 0;
  margin-bottom: 20px;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
  background-color: #e21a1a;
}

.remodal button.styler.styler::-moz-focus-inner,
.remodal input[type='button'].styler.styler::-moz-focus-inner,
.remodal input[type='submit'].styler.styler::-moz-focus-inner,
.remodal input[type='reset'].styler.styler::-moz-focus-inner {
  padding: 0;
  border: 0;
  box-shadow: none;
  background: #e72f2f;
}

.remodal button.styler:not([disabled]):hover,
.remodal input[type='button'].styler:not([disabled]):hover,
.remodal input[type='submit'].styler:not([disabled]):hover,
.remodal input[type='reset'].styler:not([disabled]):hover,
.remodal input[type='reset'].styler:hover {
  box-shadow: none;
  background: #e72f2f;
}

.remodal button.styler:active,
.remodal input[type='button'].styler:active,
.remodal input[type='submit'].styler:active,
.remodal input[type='reset'].styler:active {
  box-shadow: none;
  background: #3ac6f4;
}

.remodal button.styler[disabled],
.remodal input[type='button'].styler[disabled],
.remodal input[type='submit'].styler[disabled] {
  border-color: #3ac6f4;
  background: #3ac6f4;
  box-shadow: none;
  color: #33363b;
}

.remodal h1 {
  margin-top: 0;
}

.remodal .input {
  width: 100%;
}

.remodal .input::-webkit-input-placeholder {
  color: #aaaeb1;
}

.remodal .input::-moz-placeholder {
  color: #aaaeb1;
}

.remodal .input:-ms-input-placeholder {
  color: #aaaeb1;
}

.remodal .input::-ms-input-placeholder {
  color: #aaaeb1;
}

.remodal .input::placeholder {
  color: #aaaeb1;
}

.remodal .textarea {
  width: 100%;
}

.remodal .notation {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-bottom: 30px;
  line-height: 18px;
}

.remodal .notation a {
  color: #000;
}

.remodal .notation a:hover {
  text-decoration: none;
}

.remodal__notification {
  display: none;
}

.remodal {
  padding: 0;
  background: #fff;
  overflow: hidden;
  color: #33363b;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
  -webkit-overflow-scrolling: touch;
}

.remodal:before {
  display: none;
}

.remodal__title {
  padding: 31px 31px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
}

.remodal__title h1 {
  color: #333;
  font-size: 22px;
  line-height: 1.2;
  position: absolute;
  top: 17px;
  left: 36px;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.remodal__inner {
  padding: 32px 44px;
}

.remodal label {
  width: 19px;
  height: 19px;
}

.remodal-close {
  margin: 11px 44px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 10;
  outline: none;
}

.remodal-close .svg-icon {
  fill: #cacfd0;
}

.remodal-close:before {
  display: none;
}

.myForm {
  text-align: left;
}

.myForm__item-title {
  font-size: 12px;
  color: rgba(51,51,51,0.4) 3;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.remodal__notification {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.remodal__notificationInner {
  display: -ms-flexbox;
  display: flex;
  height: 232px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.myForm__checkWr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #033333;
  font-size: 16px;
  font-weight: 400;
}

.myForm__check {
  width: 40px;
  -ms-flex: 0 0 40px;
      flex: 0 0 40px;
}

.myForm__check input[type="checkbox"] {
  display: none;
}

.myForm__check input[type="checkbox"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -4px 4px 0 0;
  vertical-align: middle;
  border: 1px solid #9a9a9a;
  cursor: pointer;
  position: relative;
  background: #fff;
}

.myForm__check input[type="checkbox"]:checked + label span {
  border: 1px solid #9a9a9a;
  position: relative;
}

.myForm__check input[type="checkbox"]:checked + label span:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 1px;
  width: 17px;
  height: 16px;
  background: url("../img/check.png") 0 0 no-repeat;
}

.logo {
  width: 115px;
}

.logo__img {
  width: 115px;
  max-width: 100%;
  font-size: 0;
  display: block;
  margin-bottom: 5px;
}

.logo__img img {
  max-width: 100%;
  height: auto;
}

.logo__desc {
  font-size: 14px;
  color: #e21a1a;
  font-weight: 600;
  line-height: 18px;
  display: block;
}

.mobile-panel {
  display: none;
  -ms-flex: none;
      flex: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.mobile-panel__section {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 2px solid #e21a1a;
}

.mobile-panel__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.mobile-panel__inner .menu {
  background-color: #fff;
  width: 320px;
  position: absolute;
  top: 64px;
  left: -320px;
  padding: 20px 20px 100px;
  z-index: 100;
  height: 100vh;
  overflow-y: auto;
  transition: left 0.3s;
  box-shadow: inset 0px 30px 90px 0px rgba(213,220,229,0.5);
  -webkit-overflow-scrolling: touch;
}

.mobile-panel__inner .menu.menu-is-active {
  left: 0;
}

.mobile-panel__inner .menu__nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.mobile-panel__inner .menu__nav ul li {
  margin-bottom: 15px;
  position: relative;
}

.mobile-panel__inner .menu__nav ul li .sub-menu-trigger {
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url("../img/right-arrow.svg") 50% 50% no-repeat;
  background-size: 60%;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.mobile-panel__inner .menu__nav ul li .sub-menu-trigger .svg-icon {
  display: none;
}

.mobile-panel__inner .menu__nav ul li .sub-menu-trigger.rotade {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-panel__inner .menu__nav ul li.sub-menu.sub-menu--mods a {
  padding-right: 0;
}

.mobile-panel__inner .menu__nav ul li.sub-menu.sub-menu--mods a:hover {
  color: #09f;
  text-decoration: none;
}

.mobile-panel__inner .menu__nav ul li.sub-menu.sub-menu--mods a:before {
  display: none;
}

.mobile-panel__inner .menu__nav ul li.sub-menu.sub-menu--mods a:after {
  display: none;
}

.mobile-panel__inner .menu__nav ul li.sub-menu.sub-menu--mods ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 15px !important;
}

.mobile-panel__inner .menu__nav ul li.sub-menu.sub-menu--mods ul li span {
  -ms-flex: 0 0 75px;
      flex: 0 0 75px;
  width: 75px;
  max-width: 75px;
  margin-right: 10px;
}

.mobile-panel__inner .menu__nav ul li.sub-menu.sub-menu--mods ul li span img {
  max-width: 100%;
  height: auto;
}

.mobile-panel__inner .menu__nav ul li.sub-menu ul {
  padding-top: 5px;
  padding-left: 15px;
  display: none;
}

.mobile-panel__inner .menu__nav ul li.sub-menu ul li {
  margin-bottom: 10px;
}

.mobile-panel__inner .menu__nav ul li.sub-menu ul li a {
  font-size: 16px;
}

.mobile-panel__inner .menu__nav ul li.sub-menu > a {
  padding-right: 10px;
}

.mobile-panel__inner .menu__nav ul li a {
  font-size: 18px;
  color: #191919;
  font-weight: 400;
  padding-bottom: 5px;
  padding-left: 1px;
  position: relative;
  transition: color 0.3s;
}

.mobile-panel__inner .menu__nav ul li a:hover {
  text-decoration: none;
  color: #e21a1a;
}

.mobile-panel__inner .menu__nav ul li a:hover:before {
  background-color: #e21a1a;
}

.mobile-panel__inner .menu__nav ul li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transition: background-color 0.3s, width 0.3s;
}

.mobile-panel__inner .menu__phones {
  margin-bottom: 15px;
}

.mobile-panel__inner .menu__phones a {
  font-size: 18px;
  color: #171717;
  font-weight: 800;
  cursor: default;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.mobile-panel__inner .menu__phones a:hover {
  text-decoration: none;
}

.mobile-panel__inner .menu__phones a .svg-icon--phone-icon {
  width: 14px;
  height: 14px;
  fill: #09f;
  margin-right: 11px;
}

.mobile-panel__inner .menu__btn-call {
  width: 100%;
}

.mobile-panel__btn-burger {
  display: block;
  width: 25px;
  height: 21px;
  padding: 0;
  background-color: #fff;
  position: relative;
  border: none;
  cursor: pointer;
}

.mobile-panel__btn-burger span:before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.mobile-panel__btn-burger span:after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.mobile-panel__btn-burger span,
.mobile-panel__btn-burger span:before,
.mobile-panel__btn-burger span:after {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
  width: 25px;
  height: 3px;
  background-color: #e21a1a;
}

.mobile-panel__btn-burger span:before,
.mobile-panel__btn-burger span:after {
  content: '';
  display: block;
  transition: 0.2s;
}

.mobile-panel .btn-burger-is-active span {
  height: 0;
}

.mobile-panel .btn-burger-is-active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-panel .btn-burger-is-active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-panel__overlay-menu {
  display: none;
  position: fixed;
  top: 64px;
  width: 100%;
  bottom: -5000px;
  left: 0;
  background: rgba(43,46,56,0.9);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}

.mobile-panel__overlay-menu.overlay-is-active {
  display: block;
  left: 0;
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 100;
}

.mobile-panel__logo {
  -ms-flex-order: 1;
      order: 1;
}

.mobile-panel__logo .logo {
  width: 100%;
}

.mobile-panel__logo .logo__img {
  width: 60px;
}

.mobile-panel__logo .logo__desc {
  display: none;
}

.mobile-panel__contacts .contacts a {
  font-size: 14px;
}

.mobile-panel__contacts .contacts__mail {
  display: none;
}

.news-thumb {
  padding-left: 30px;
  margin-bottom: 30px;
  -ms-flex: 0 0 33%;
      flex: 0 0 33%;
  width: 33%;
  max-width: 33%;
  display: -ms-flexbox;
  display: flex;
}

.news-thumb__body {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #fff;
  border-bottom: 3px solid #e21a1a;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
}

.news-thumb__body:hover {
  text-decoration: none;
}

.news-thumb__body:hover:hover {
  text-decoration: none;
}

.news-thumb__body:hover:hover .news-thumb__name {
  color: #e21a1a;
}

.news-thumb__body:hover:hover .news-thumb__img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news-thumb__body:hover:hover .news-thumb__announce:after {
  right: -5px;
}

.news-thumb__img {
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.news-thumb__img img {
  max-width: 100%;
  height: auto;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.news-thumb__bot {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 15px 20px;
}

.news-thumb__name {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  line-height: 22px;
  transition: color 0.3s;
  display: block;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.news-thumb__announce {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  line-height: 22px;
  display: block;
  position: relative;
}

.news-thumb__announce:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  background: url("../img/right-arrow2.svg") 0 0 no-repeat;
  transition: right 0.3s;
}

.news-page .s-path {
  padding-left: 45px;
}

.news {
  margin-bottom: 90px;
}

.news__items {
  margin-left: -30px;
}

.news__items-inner {
  display: -ms-flexbox;
  display: flex;
}

.news__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-right: 45px;
}

.news__more {
  font-size: 16px;
  color: #333;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.news__more:hover {
  color: #e21a1a;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 50px;
  margin-bottom: 120px;
}

.pagination a {
  font-size: 18px;
  color: #033333;
  font-weight: 600;
  padding: 5px 10px;
  margin-right: 5px;
  display: block;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s;
}

.pagination a:last-child {
  margin-right: 0;
}

.pagination a:hover {
  text-decoration: none;
  border-color: #e21a1a;
}

.pagination a.is-active {
  border-color: #e21a1a;
  cursor: default;
}

.reviews-about-us {
  margin-bottom: 90px;
}

.reviews-about-us__title {
  margin-bottom: 0 !important;
}

.reviews-about-us__items .owl-stage-outer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.reviews-about-us__items .owl-prev,
.reviews-about-us__items .owl-next {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: #e8e8e8;
  transition: background-color 0.3s;
  position: absolute;
  top: 50%;
}

.reviews-about-us__items .owl-prev svg,
.reviews-about-us__items .owl-next svg {
  width: 15px;
  fill: #000;
  margin-left: 3px;
}

.reviews-about-us__items .owl-prev:hover,
.reviews-about-us__items .owl-next:hover {
  background-color: #e21a1a;
}

.reviews-about-us__items .owl-prev:hover svg,
.reviews-about-us__items .owl-next:hover svg {
  fill: #fff;
}

.reviews-about-us__items .owl-prev {
  left: 0;
  -webkit-transform: translate(-18%, -50%) rotate(180deg);
          transform: translate(-18%, -50%) rotate(180deg);
}

.reviews-about-us__items .owl-next {
  right: 0;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.reviews-about-us__body {
  width: 1090px;
  max-width: 100%;
  padding: 65px 80px 60px 70px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
}

.reviews-about-us__name {
  font-size: 20px;
  color: #333;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.reviews-about-us__text {
  font-size: 18px;
  color: #333;
  font-weight: 400;
}

.reviews-about-us__btn-more {
  margin: -25px auto 0;
  position: relative;
  z-index: 5;
}

.reviews-thumb {
  margin-bottom: 40px;
}

.reviews-thumb__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
}

.reviews-thumb__body {
  max-width: 100%;
  padding: 65px 70px 60px 60px;
}

.reviews-thumb__img {
  -ms-flex: 0 0 340px;
      flex: 0 0 340px;
  width: 340px;
  max-width: 340px;
  position: relative;
}

.reviews-thumb__img:before {
  content: '';
  position: absolute;
  top: 45%;
  left: 45%;
  background: url("../img/loupe-w.png") 50% 50% no-repeat;
  pointer-events: none;
  width: 39px;
  height: 41px;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.reviews-thumb__img:hover:before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.reviews-thumb__img img {
  max-width: 100%;
  height: auto;
}

.reviews-thumb__name {
  font-size: 20px;
  color: #333;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.reviews-thumb__text {
  font-size: 18px;
  color: #333;
  font-weight: 400;
}

.reviews-thumb__btn-more {
  margin: -25px auto 0;
  position: relative;
  z-index: 5;
}

.s-path {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
  -ms-flex: none;
      flex: none;
}

.s-path a {
  text-decoration: none;
  color: #b2b1b1;
}

.s-path a:hover {
  text-decoration: underline;
}

.s-path--pathPos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 2;
}

.services {
  margin-bottom: 90px;
}

.services__items {
  width: 1240px;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  width: 48.3%;
  margin-bottom: 30px;
  box-shadow: 0 18px 54px rgba(0,0,0,0.07);
}

.services__item--big {
  width: 100%;
}

.services__body {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #fff;
  border-bottom: 3px solid #e21a1a;
}

.services__body:hover {
  text-decoration: none;
}

.services__body:hover .services__name {
  color: #e21a1a;
}

.services__body:hover .services__img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services__img {
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.services__img img {
  max-width: 100%;
  height: auto;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.services__name {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  line-height: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 30px;
  margin-bottom: 10px;
  transition: color 0.3s;
  width: 100%;
  position: relative;
  z-index: 1;
}

.services__name .svg-icon {
  fill: #e21a1a;
}

.services__name .svg-icon:not(.svg-icon--right-arrow2) {
  margin-right: 15px;
}

.services__name .svg-icon--shield-icon {
  width: 24px;
}

.services__name .svg-icon--right-arrow2 {
  margin-left: auto;
}

.tenders-thumb__body {
  font-size: 22px;
  color: #333;
  font-weight: 400;
  line-height: 26px;
  padding-left: 30px;
  margin-bottom: 60px;
  border-left: 3px solid #e21a1a;
}

.tenders-thumb__body a {
  color: inherit;
  text-decoration: underline;
}

.tenders-thumb__body a:hover {
  text-decoration: none;
}

.top-menu__nav ul {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
  margin-bottom: 0;
}

.top-menu__nav ul li {
  position: relative;
  border-bottom: 3px solid transparent;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.top-menu__nav ul li:hover {
  background-color: #f3f3f3;
  border-bottom: 3px solid #e21a1a;
}

.top-menu__nav ul li:hover a {
  color: #e21a1a;
}

.top-menu__nav ul li.sub-menu:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 12px;
  width: 9px;
  height: 9px;
  background: url("../img/right-arrow.svg") 0 0 no-repeat;
}

.top-menu__nav ul li.sub-menu a {
  padding-right: 35px;
}

.top-menu__nav ul li.sub-menu > ul {
  width: 320px;
  display: block;
  position: absolute;
  padding-left: 0;
  background-color: #f3f3f3;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: opacity 0.5s, ease 0.5s;
}

.top-menu__nav ul li.sub-menu > ul li a {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  color: #333;
}

.top-menu__nav ul li.sub-menu > ul li a:hover {
  color: #e21a1a;
}

.top-menu__nav ul li.sub-menu > ul li:last-child a {
  border-bottom: none;
}

.top-menu__nav ul li.sub-menu:hover ul {
  opacity: 1;
  z-index: 10;
  visibility: visible;
}

.top-menu__nav ul li a {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  line-height: 22px;
  padding: 44px 15px 45px 15px;
  display: block;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 1600px) {
  .first-screen__items .owl-prev {
    left: 11%;
  }

  .first-screen__items .owl-next {
    right: 10%;
  }
}

@media (max-width: 1440px) {
  .first-screen__items .owl-prev {
    left: 7%;
  }

  .first-screen__items .owl-next {
    right: 5%;
  }
}

@media (max-width: 1366px) {
  .first-screen__items .owl-prev {
    left: 3%;
  }

  .first-screen__items .owl-next {
    right: 2%;
  }
}

@media (max-width: 1284px) {
  .b-clientsProjects__inner {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }

  .b-clientsProjects__item {
    max-width: 325px;
    padding: 0 5px;
  }

  .b-structuralUnits__inner {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 20px;
  }

  .b-structuralUnits__item {
    max-width: 325px;
    padding: 0 5px;
  }
}

@media (max-width: 1280px) {
  .about-us__body {
    padding-right: 30px;
  }

  .advantage__item {
    width: 50%;
  }

  .b-licensesCertificates__inner {
    padding: 0 20px;
    -ms-flex-pack: center;
        justify-content: center;
  }

  .b-licensesCertificates__item {
    padding: 0 10px;
  }

  .b-partners__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .reviews-about-us__items .owl-prev {
    left: 20px;
  }

  .reviews-about-us__body {
    width: 768px;
  }
}

@media (max-width: 1279px) {
  .app-header__top-line {
    display: none;
  }

  .additional-services__items {
    padding-left: 15px;
    padding-right: 15px;
  }

  .b-clientsProjectsInner__slider .owl-dots {
    bottom: -50px;
  }

  .first-screen {
    margin-top: 64px;
  }

  .first-screen__items .owl-dots {
    bottom: 0;
  }

  .first-screen__body {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .first-screen__desc {
    font-size: 18px;
    line-height: 24px;
  }

  .first-screen__btn-more {
    margin-top: 25px;
  }

  .fixed-panel {
    display: none;
  }

  .mobile-panel {
    display: block;
  }

  .services__items {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1274px) {
  .b-guide__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .b-guide__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 1100px) {
  .fixed-panel .logo {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@media (max-width: 1054px) {
  .b-clientsProjects__item {
    max-width: 33%;
    -ms-flex: 0 0 33%;
        flex: 0 0 33%;
  }

  .b-structuralUnits__item {
    max-width: 33%;
    -ms-flex: 0 0 33%;
        flex: 0 0 33%;
  }
}

@media (max-width: 1024px) {
  .seo-block {
    padding-left: 15px;
    margin-bottom: 30px;
  }

  .additional-services {
    margin-bottom: 15px;
  }

  .additional-services__name {
    padding-left: 15px;
    padding-right: 15px;
  }

  .advantage {
    margin-bottom: 15px;
  }

  .b-clientsProjects__inner {
    padding: 0 20px;
  }

  .b-clientsProjectsInner__inner {
    padding: 0 20px;
  }

  .b-clientsProjectsInner__item {
    height: 350px;
  }

  .b-clientsProjectsInner__slider {
    margin-bottom: 50px;
  }

  .b-contacts__inner {
    padding: 0 20px;
  }

  .b-guide {
    margin-bottom: 50px;
  }

  .b-guide__inner {
    padding: 0 20px;
  }

  .b-licensesCertificates {
    margin-bottom: 50px;
  }

  .b-partners__text {
    padding: 0 20px;
    margin-bottom: 30px;
  }

  .b-partners__inner {
    padding: 0 20px;
  }

  .b-partnersInner {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 50px;
  }

  .b-partnersInner__inner {
    margin: 0;
  }

  .b-partnersInner__title {
    font-size: 22px;
    line-height: 1.2;
  }

  .b-partnersInner__text {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .b-partnersInner__text-img {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .b-partnersInner__text-anonce {
    margin-left: 0;
  }

  .b-structuralUnits {
    margin-bottom: 50px;
  }

  .contact-info {
    margin-bottom: 30px;
  }

  .d-newsText {
    font-size: 15px;
    line-height: 1.3;
  }

  .d-newsText__inner {
    margin: 0;
  }

  .d-newsText__title {
    font-size: 22px;
    line-height: 1.2;
  }

  .d-newsText__text {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .d-newsText__text-img {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .d-newsText__text-anonce {
    margin-left: 0;
  }

  .first-screen__items--slider .first-screen__img {
    height: 450px;
  }

  .first-screen__img {
    height: 450px;
  }

  .mobile-panel__inner .menu__nav ul li.sub-menu.sub-menu--mods ul li {
    -ms-flex: 0 0 35%;
        flex: 0 0 35%;
    width: 35%;
    max-width: 35%;
  }

  .mobile-panel__inner .menu__nav ul li.sub-menu.sub-menu--mods ul {
    width: 750px;
  }

  .news {
    margin-bottom: 15px;
  }

  .reviews-about-us {
    margin-bottom: 15px;
  }

  .services {
    margin-bottom: 15px;
  }

  .services__name {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1024) {
  .pagination {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1023px) {
  .app-footer__inner {
    -ms-flex-pack: center;
        justify-content: center;
  }

  .app-footer__menu {
    display: none;
  }

  .about-us__items {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .about-us__img {
    -ms-flex: none;
        flex: none;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .b-contacts__info {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .first-screen__title {
    font-size: 40px;
    line-height: 46px;
  }

  .fixed-panel .logo {
    display: none;
  }

  .news-thumb__announce:after {
    display: none;
  }
}

@media (max-width: 960px) {
  .app-header {
    margin-bottom: 30px;
  }

  .news-thumb {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }

  .news__items-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 959px) {
  .first-screen__body {
    width: 480px;
  }

  .first-screen__desc {
    display: none;
  }

  .reviews-about-us__body {
    width: 640px;
  }

  .reviews-thumb__body {
    padding: 30px;
  }
}

@media (max-width: 865px) {
  .b-licensesCertificates__item-title {
    text-align: center;
  }
}

@media (max-width: 846px) {
  .b-partners__inner {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
}

@media (max-width: 820px) {
  .b-clientsProjects__item {
    max-width: 49%;
    -ms-flex: 0 0 49%;
        flex: 0 0 49%;
  }

  .b-clientsProjects__item:last-child {
    margin-bottom: 0;
  }

  .b-structuralUnits__item {
    max-width: 49%;
    -ms-flex: 0 0 49%;
        flex: 0 0 49%;
  }
}

@media (max-width: 800px) {
  .b-aboutText__right {
    margin-left: 0;
  }
}

@media (max-width: 792px) {
  .first-screen__img {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .about-us__body {
    padding-right: 0;
    padding-left: 0;
  }

  .additional-services__name {
    text-align: center;
  }

  .b-aboutText {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .b-aboutText {
    margin-bottom: 50px;
  }

  .b-aboutText img {
    margin: 0 0 15px;
  }

  .b-clientsProjectsInner__item {
    height: 200px;
  }

  .b-partners__item:last-child {
    margin-bottom: 0;
  }

  .first-screen__section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .first-screen .s-path {
    color: #000;
  }

  .first-screen .s-path {
    position: static;
    -ms-flex-order: 1;
        order: 1;
    -webkit-transform: none;
            transform: none;
  }

  .first-screen__items--slider .first-screen__img {
    height: 260px;
  }

  .s-path {
    font-size: 12px;
  }

  .services__name {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .reviews-thumb__text {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .site-title:before {
    display: none;
  }

  .site-title:after {
    display: none !important;
  }

  .site-title {
    font-size: 28px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
  }

  .info-text {
    padding-right: 0;
  }

  .additional-services__item {
    width: 100%;
  }

  .b-clientsProjects__title h1 {
    line-height: 1.2;
    padding-left: 20px;
  }

  .b-clientsProjectsInner__title h1 {
    line-height: 1.2;
    padding-left: 20px;
  }

  .b-contacts__title h1 {
    line-height: 1.2;
    padding-left: 20px;
  }

  .b-guide__title h1 {
    line-height: 1.2;
    padding-left: 20px;
  }

  .b-licensesCertificates__title h1 {
    line-height: 1.2;
    padding-left: 20px;
  }

  .b-partners__title h1 {
    line-height: 1.2;
    padding-left: 20px;
  }

  .b-structuralUnits__title h1 {
    line-height: 1.2;
    padding-left: 20px;
  }

  .news__title {
    line-height: 20px;
    padding-right: 20px;
  }

  .reviews-about-us__body {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .reviews-thumb__section {
    display: block;
  }

  .reviews-thumb__img {
    width: 100%;
    max-width: 100%;
  }

  .services__item {
    width: 100%;
  }
}

@media (max-width: 639px) {
  .b-clientsProjectsInner__slider .owl-dots {
    display: none;
  }

  .first-screen__items .owl-dots {
    display: none;
  }

  .first-screen__body {
    width: 400px;
  }

  .first-screen__title {
    font-size: 34px;
    line-height: 38px;
  }

  .reviews-about-us__items .owl-stage-outer {
    padding-top: 30px;
  }

  .reviews-about-us__name {
    font-size: 18px;
  }

  .reviews-about-us__text {
    font-size: 14px;
  }

  .reviews-thumb__name {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .first-screen__img:after {
    right: -50px;
  }

  .first-screen__img-before:before {
    left: -100px;
  }

  .first-screen__items--slider .first-screen__img:after {
    right: -100px;
  }
}

@media (max-width: 548px) {
  .b-clientsProjects__item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 393px;
  }

  .b-structuralUnits__item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 393px;
  }
}

@media (max-width: 480px) {
  .news-page h1 {
    padding-left: 15px;
  }

  .services-page h1 {
    padding-left: 15px;
  }

  .tenders-page h1 {
    padding-left: 15px;
  }

  .reviews h1 {
    padding-left: 15px;
  }

  .jobs-page h1 {
    padding-left: 15px;
  }

  .site-content ul li {
    font-size: 14px;
  }

  .accordion__item {
    padding-right: 15px;
    padding-left: 15px;
  }

  .accordion__title {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .accordion__list ul li {
    font-size: 14px;
  }

  .accordion__name {
    font-size: 16px;
  }

  .additional-services__name {
    font-size: 16px;
  }

  .advantage__item {
    width: 100%;
  }

  .b-clientsProjects {
    margin-bottom: 50px;
  }

  .b-clientsProjects__item {
    padding: 0;
  }

  .b-clientsProjects__item-title {
    font-size: 18px;
  }

  .b-clientsProjects__item-text {
    font-size: 15px;
  }

  .b-contacts__info {
    padding: 15px;
  }

  .b-contacts__info-address,
  .b-contacts__info-phone,
  .b-contacts__info-mail {
    font-size: 15px;
  }

  .b-contacts__info-clock {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .b-contacts__info-button {
    margin-left: 0;
  }

  .b-contacts__info-button a {
    margin: 0 auto;
  }

  .b-map {
    height: 370px;
  }

  .b-partners {
    margin-bottom: 50px;
  }

  .b-partners__text {
    font-size: 15px;
  }

  .b-partners__item-title {
    font-size: 18px;
  }

  .b-partners__item-text {
    font-size: 15px;
  }

  .b-structuralUnits__item {
    padding: 0;
  }

  .first-screen__body {
    width: 320px;
  }

  .first-screen__title {
    font-size: 26px;
    line-height: 32px;
  }

  .first-screen__btn-more {
    padding: 10px 15px;
    width: 120px;
    margin: 0 auto;
  }

  .remodal__inner {
    padding: 10px 15px 35px;
  }

  .news-thumb {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }

  .news-page h1 {
    padding-left: 45px;
  }

  .reviews-about-us__items .owl-prev,
  .reviews-about-us__items .owl-next {
    width: 30px;
    height: 30px;
  }

  .reviews-about-us__items .owl-prev {
    left: 10px;
  }

  .reviews-about-us__body {
    padding-right: 20px;
    padding-left: 30px;
  }

  .tenders-thumb__body {
    font-size: 18px;
    margin-bottom: 35px;
  }
}

@media (max-width: 440px) {
  .contact-info__icon {
    margin-right: 10px;
  }
}

@media (max-width: 439px) {
  .b-clientsProjectsInner__slider .owl-prev,
  .b-clientsProjectsInner__slider .owl-next {
    width: 25px;
    height: 25px;
  }

  .first-screen__items .owl-prev,
  .first-screen__items .owl-next {
    width: 25px;
    height: 25px;
  }

  .first-screen__title:before {
    display: none;
  }
}

@media (max-width: 425px) {
  .first-screen__img {
    height: 150px;
  }
}

@media (max-width: 424px) {
  .mobile-panel__inner .menu {
    width: 100%;
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 375px) {
  .b-licensesCertificates__item-title {
    font-size: 20px;
  }

  .detailed-services .first-screen__title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 340px) {
  .b-guide__item-title {
    font-size: 18px;
  }

  .b-guide__item-position,
  .b-guide__item-text {
    font-size: 15px;
  }

  .b-guide__item-mail a {
    font-size: 15px;
  }
}