<div block="services">
    <div elem="section">
        <div elem="inner">
            {% if pageTitle != "Услуги" %}

            <div elem="head" class="full-contain">
                <div elem="title" class="site-title contain">Услуги компании</div>
            </div>

            {% endif %}
            <div elem="items">
                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="img"><img src="img/services-img.jpg" alt=""></span>
                        <span elem="name">
                            {{ _icon('shield-icon', { tag: 'i' }) }}
                            Обеспечение транспортной безопасности
                            {{ _icon('right-arrow2', { tag: 'i' }) }}
                        </span>
                    </a>
                </div>
                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="img"><img src="img/services-img2.jpg" alt=""></span>
                        <span elem="name">
                            {{ _icon('underground-icon', { tag: 'i' }) }}
                            Обеспечение транспортной безопасности
                            {{ _icon('right-arrow2', { tag: 'i' }) }}
                        </span>
                    </a>
                </div>
                <div elem="item" mods="big">
                    <a elem="body" href="#">
                        <span elem="img"><img src="img/services-img3.jpg" alt=""></span>
                        <span elem="name">
                            {{ _icon('shield-big-icon', { tag: 'i' }) }}
                            Обеспечение транспортной безопасности
                            {{ _icon('right-arrow2', { tag: 'i' }) }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- services -->