.services
    margin-bottom 90px

    @media (max-width 1024px)
        margin-bottom 15px

    &__items
        width 1240px
        max-width 100%
        padding-left 0
        padding-right 0
        margin 0 auto
        display flex
        justify-content space-between
        flex-wrap wrap

        @media (max-width 1279px)
            padding-left 15px
            padding-right 15px

    &__item
        width 48.3%
        margin-bottom 30px
        box-shadow 0 18px 54px rgba(0, 0, 0, 0.07)

        &--big
            width 100%  

        @media (max-width 640px)
            width 100%    

    &__body
        width 100%
        display flex
        flex-direction column
        background-color #fff
        border-bottom 3px solid #e21a1a
        &:hover
            text-decoration none

            & ^[0]
                &__name
                    color #e21a1a

                &__img

                    img
                        transform scale(1.1)

    &__img
        display block
        overflow hidden

        img 
            max-width 100%
            height auto      
            transition transform .8s

    &__name
        font-size 20px
        color #333333
        font-weight 700
        line-height 24px
        display flex
        align-items center
        padding 15px 30px    
        margin-bottom 10px
        transition color .3s
        width 100%
        position relative
        z-index 1

        .svg-icon
            fill #e21a1a

            &:not(.svg-icon--right-arrow2)
                margin-right 15px

        .svg-icon--shield-icon
            width 24px

        .svg-icon--right-arrow2
            margin-left auto

        @media (max-width 1024px)
            padding-left 15px
            padding-right 15px    

        @media (max-width 768px)
            text-align center    