<div block="mobile-panel">
    <div elem="section">
        <div elem="items">
            <div elem="inner">
                <button elem="btn-burger" class="js-btn-burger" type="button"><span></span></button>
                <div elem="overlay-menu"></div>
                
                <div block="menu">
                    <nav elem="nav">
                        <ul elem="nav-list">
                            <li class="sub-menu">
                                <a href="#">О компании</a>
                                <ul>
                                    <li><a href="#">Руководство</a></li>
                                    <li><a href="#">Лицензии и сертификаты</a></li>
                                    <li><a href="#">Клиенты и проекты</a></li>
                                    <li><a href="#">Благодарности клиентов</a></li>
                                    <li><a href="#">Вакансии</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Тендеры</a></li>
                            <li><a href="#">Партнеры</a></li>
                            <li><a href="#">Клиенты и проекты</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav>

                </div><!-- b-menu -->
            </div>
            <div elem="logo">
                {% include 'logo.html' %}
            </div>
            <div elem="contacts">
                {% include "contacts.html" %}
            </div>
        </div>
    </div>
</div><!-- b-mobile-panel -->