.mobile-panel
    display none
    flex none
    position fixed
    top 0
    left 0
    width 100%
    z-index 1000
    background-color #fff
    
    @media (max-width: 1279px)
        display block
              
    &__section
        width 100%
        padding 10px 20px
        border-bottom 2px solid #e21a1a
        
        // @media (max-width: 639px)
        //     padding-top 13px
        //     padding-bottom 12px

    &__items
        display flex
        align-items center
        justify-content space-between
    
    &__inner

        
        .menu
            background-color #fff
            width 320px
            position absolute
            top 64px
            left -320px
            padding 20px 20px 100px
            z-index 100
            height 100vh
            overflow-y auto
            transition left .3s
            box-shadow inset 0px 30px 90px 0px rgba(213,220,229,0.5)
            
            @media (max-width 424px)
                width 100%
                max-width 320px
                padding-left 10px
                padding-right 10px
            
            &.menu-is-active
                left 0 

            &__nav
                ul
                    list-style-type none
                    padding-left 0
                    margin-bottom 0

                    li
                        margin-bottom 15px
                        position relative

                        .sub-menu-trigger
                            position absolute
                            top 0
                            right 10px
                            width 30px
                            height 30px
                            background url('../img/right-arrow.svg') 50% 50% no-repeat
                            background-size 60%
                            transition transform .3s
                            .svg-icon
                                display none
                            &.rotade
                                transform rotate(90deg)

                        &.sub-menu

                            &.sub-menu--mods
                                a
                                    padding-right 0
                                    &:hover
                                        color #0099ff
                                        text-decoration none
                                    &:before
                                        display none
                                    &:after
                                        display none
                                
                                ul
                                    // width 860px
                                    // border-radius 7px
                                    // border 1px solid #d1d1d1
                                    // background-color #ffffff   
                                    // padding 30px 0 5px 35px 
                                    // display flex
                                    // flex-wrap wrap 

                                    li
                                        // width 23.5%
                                        display flex
                                        align-items center
                                        margin-bottom 15px !important
                                        @media (max-width: 1024px)
                                            flex 0 0 35%
                                            width 35%
                                            max-width 35%
                                        span 
                                            flex 0 0 75px
                                            width 75px
                                            max-width 75px
                                            margin-right 10px
                                            img 
                                                max-width 100%
                                                height auto

                                    @media (max-width: 1024px)
                                        width 750px            
                            
                            ul
                                padding-top 5px
                                padding-left 15px
                                display none

                                li
                                    margin-bottom 10px
                                    

                                    a
                                        font-size 16px

                            > a
                                padding-right 10px
                                

                        a
                            font-size 18px
                            color #191919
                            font-weight 400
                            padding-bottom 5px
                            padding-left 1px
                            position relative
                            transition color .3s
                            &:hover
                                text-decoration none
                                color #e21a1a
                                &:before
                                    background-color #e21a1a    

                            &:before
                                content ''
                                position absolute
                                bottom 0
                                left 0
                                width 100%
                                height 3px
                                transition background-color .3s, width .3s

            &__phones
                margin-bottom 15px
                
                a
                    font-size 18px
                    color #171717
                    font-weight 800
                    cursor default
                    display flex
                    align-items center
                    &:hover
                        text-decoration none

                    .svg-icon--phone-icon
                        width 14px
                        height 14px
                        fill #0099ff 
                        margin-right 11px                  

            &__btn-call
                width 100%             
    
    &__btn-burger
        display block
        width 25px
        height 21px
        padding 0
        background-color #fff
        position relative
        border none
        cursor pointer

        span
            &:before
                transform translateY(-8px)
            &:after
                transform translateY(8px)

    &__btn-burger span,
    &__btn-burger span:before,
    &__btn-burger span:after
        position absolute
        top 50%
        left 0
        margin-top -2px
        width 25px
        height 3px
        background-color #e21a1a

    &__btn-burger span:before,
    &__btn-burger span:after
        content ''
        display block
        transition 0.2s

    .btn-burger-is-active
        span
            height 0
            &:before
                transform rotate(45deg)
            &:after
                transform rotate(-45deg)        
    
    &__overlay-menu
        display none
        position fixed
        top 64px
        // right -5000px
        width 100%
        bottom -5000px
        left 0
        background: rgba(43, 46, 56, 0.9);
        z-index -1
        opacity 0
        transition opacity .3s
        
        &.overlay-is-active
            display block  
            left 0
            transition opacity .3s
            opacity 1   
            z-index 100    

    &__logo
        order 1
        .logo
            width 100%
            
            &__img
                width 60px

            &__desc
                display none

    &__contacts 
        .contacts
            a
                font-size 14px
            &__mail
                display none                    