.advantage
    margin-bottom 90px

    @media (max-width 1024px)
        margin-bottom 15px

    &__items
        display flex
        flex-wrap wrap
        margin-left -30px

    &__item
        width 25%
        padding-left 30px  
        margin-bottom 30px
        background-color #fff  
        // box-shadow 0 18px 54px rgba(0, 0, 0, 0.07)
        display flex

        @media (max-width 1280px)
            width 50%

        @media (max-width 480px)
            width 100%    

    &__body
        display flex
        flex-direction column
        width 100%
        padding-top 30px
        padding-bottom 20px
        border-bottom 4px solid #e21a1a
        box-shadow 0 18px 54px rgba(0, 0, 0, 0.07)

    &__top
        margin-bottom 25px    

    &__icon
        display flex
        align-items center
        justify-content center
        width 110px
        height 110px
        margin 0 auto
        background-color #e21a1a
        border-radius 50%
    
    &__icon-inner 
        
        img 
            max-width 100%
            height auto    

    &__bot
        flex 1 1 auto            

    &__desc
        font-size 18px
        color #333333
        font-weight 700  
        text-align center
        width 220px
        margin 0 auto       