<div block="advantage">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <div elem="icon">
                                <div elem="icon-inner"><img src="img/advantage-icon.svg" style="width: 51px;" alt=""></div>
                            </div>
                        </div>
                        <div elem="bot">
                            <div elem="desc">Все сотрудники <br> аттестованы и прошли <br> профессиональную <br> подготовку</div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <div elem="icon">
                                <div elem="icon-inner"><img src="img/advantage-icon2.svg" style="width: 51px;" alt=""></div>
                            </div>
                        </div>
                        <div elem="bot">
                            <div elem="desc">Работаем <br> на территории <br>  всей России</div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <div elem="icon">
                                <div elem="icon-inner"><img src="img/advantage-icon3.svg" style="width: 45px;" alt=""></div>
                            </div>
                        </div>
                        <div elem="bot">
                            <div elem="desc">Гарантируем <br> высокое качество <br> предоставляемых услуг</div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <div elem="icon">
                                <div elem="icon-inner"><img src="img/advantage-icon4.svg" style="width: 68px;" alt=""></div>
                            </div>
                        </div>
                        <div elem="bot">
                            <div elem="desc">Заинтересованы <br> в долгосрочном <br> сотрудничестве</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- advantage -->