.app-footer
    flex none
    border-top 1px solid #f2f2f2

    &__btn-to-top
        width 47px
        height 47px
        margin 0 auto
        display flex
        align-items center
        justify-content center
        border none
        border-radius 50%
        background-color #e21a1a
        transform translateY(-25px)
        &:hover
            .svg-icon--right-arrow2
                transform rotate(-90deg) translateX(5px)

        .svg-icon--right-arrow2
            fill #fff
            width 20px
            display block
            transform rotate(-90deg)
            transition transform .3s


    &__inner
        display flex
        justify-content space-between
        padding-top 50px
        padding-bottom 60px

        @media (max-width 1023px)
            justify-content center

    &__menu
        width 815px
        max-width 100%
        display flex
        justify-content space-between

        @media (max-width 1023px)
            display none 

    &__nav
        width 190px

        &:nth-child(2)
            width 310px

        ul
            list-style-type none
            padding-left 0
            margin-bottom 0

            li
                margin-bottom 5px

                a
                    font-size 16px
                    color #434343
                    font-weight 400

                    &.is-title
                        font-weight 700
                        line-height 20px

                &:first-child
                    margin-bottom 10px

    &__bot-line
        font-size 14px
        color #434343
        font-weight 400          
        text-align center
        padding-top 10px
        padding-bottom 5px
        background-color #f3f3f3      

        a
            font-size 14px
            color #434343
            font-weight 400          

    .logo
        margin-bottom 25px

        &__desc
            display none                