<footer block="app-footer">
    <button elem="btn-to-top" class="js-scroll-to-top">{{ _icon('right-arrow2', { tag: 'i' }) }}</button>
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="menu">
                <nav elem="nav">
                    <ul>
                        <li><a class="is-title" href="#">О компании</a></li>
                        <li><a href="#">Руководство</a></li>
                        <li><a href="#">Лицензии и сертификаты</a></li>
                        <li><a href="#">Клиенты и проекты</a></li>
                        <li><a href="#">Благодарности клиентов</a></li>
                        <li><a href="#">Вакансии</a></li>
                    </ul>
                </nav>
                <nav elem="nav">
                    <ul>
                        <li><a class="is-title" href="#">Услуги</a></li>
                        <li><a href="#">Обеспечение транспортной безопасности</a></li>
                        <li><a href="#">Сопровождение поездов</a></li>
                        <li><a href="#">Защита объектов транспортной инфраструктуры от актов незаконного вмешательства</a></li>
                    </ul>
                </nav>
                <nav elem="nav">
                    <ul>
                        <li><a class="is-title" href="#">Информация</a></li>
                        <li><a href="#">Тендеры</a></li>
                        <li><a href="#">Партнеры</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div elem="info">
                {% include "logo.html" %}
                {% include "contacts.html" %}
            </div>
        </div>
        <div elem="bot-line">
            Copyright &copy; 2019   |   <a href="">Политика конфиденциальности</a>
        </div>
    </div>
</footer><!-- b:app-footer -->
