<div block="contacts">
    <div elem="section">
        <div elem="phones">
            <a elem="phone" href="tel:+74957777777">
                {{ _icon('phone-icon', { tag: 'i' }) }}
                +7 495 777 77 77
            </a>
        </div>
        <div elem="mail">
            <a elem="mail-link" href="mailto:info@rzd-tb.ru">
                {{ _icon('mail-icon', { tag: 'i' }) }}
                info@rzd-tb.ru
            </a>
        </div>
    </div>
</div><!-- contacts -->