.contacts

    a
        font-size 18px
        color #333
        font-weight 800
        line-height 22px
        display flex
        align-items center
        

        .svg-icon
            fill #e21a1a
            margin-right 10px

        &:hover
            text-decoration none    

    &__phone
        cursor default
        .svg-icon--phone-icon
            width 19px

    &__mail
        margin-top 15px

.app-header

    .contacts
        margin-left 50px
        
        &__mail
            display none
            margin-top 15px

            .svg-icon--mail-icon
                width 22px

