.b-partnersInner
    flex none
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom 105px
    @media (max-width:1024px)
        font-size 15px
        line-height 1.3
        margin-bottom 50px
    &__inner
        margin 0 20px
        @media (max-width:1024px)
            margin 0
    &__title
        color: #333333;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom 5px
        max-width 975px
        margin-top 40px
        @media (max-width:1024px)
            font-size 22px
            line-height 1.2
    &__description
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        color: #868686;
        border-bottom: 3px solid #e21a1a
        display inline-block
        padding-bottom 1px
        margin-bottom 30px
    &__text
        display:flex;
        margin-top 25px
        @media (max-width:1024px)
            flex-direction: column;
        &-img
            flex 0 0 49%
            max-width 49%
            width 100%
            @media (max-width:1024px)
                flex 0 0 100%
                max-width 100%
                margin-bottom 10px
            img
                width 100%
        &-anonce
            margin-left 30px
            @media (max-width:1024px)
                margin-left 0
        &-title
            font-weight 700
            margin-bottom 10px
