<div block="b-licensesCertificates">
	<div elem="title"><h1 class="site-title contain">Лицензии и сертификаты</h1></div><!-- <= title -->
	<div elem="inner" class="contain">
		<div elem="item">
			<div elem="item-img"><a href="img/certificate.png" class="lightGallery-item"><img src="img/certificate.png" alt=""></a></div><!-- <= item-img -->
			<div elem="item-title">Сертификат соответствия</div><!-- <= item-title -->
		</div><!-- <= item -->
		<div elem="item">
			<div elem="item-img"><a href="img/certificate.png" class="lightGallery-item"><img src="img/certificate.png" alt=""></a></div><!-- <= item-img -->
			<div elem="item-title">Сертификат соответствия</div><!-- <= item-title -->
		</div><!-- <= item -->
		<div elem="item">
			<div elem="item-img"><a href="img/certificate.png" class="lightGallery-item"><img src="img/certificate.png" alt=""></a></div><!-- <= item-img -->
			<div elem="item-title">Сертификат соответствия</div><!-- <= item-title -->
		</div><!-- <= item -->
	</div><!-- inner -->
</div><!-- b-licensesCertificates -->