.b-licensesCertificates
    flex none
    margin-bottom 105px
    @media (max-width:1024px)
        margin-bottom 50px
    &__title
        h1
            padding-top 20px
            padding-left 70px
            @media (max-width:640px)
                line-height 1.2
                padding-left 20px
            &:before
                left -306px
    &__inner
        padding 0 40px
        display:flex;
        flex-wrap wrap
        justify-content space-between
        @media (max-width:1280px)
            padding 0 20px
            justify-content center
    &__item
        text-decoration none
        margin-bottom 40px
        position relative
        &:before
            content ''
            position absolute
            top 45%
            left 45%
            background url(../img/loupe.png) 50% 50% no-repeat
            pointer-events none
            width 39px
            height 41px
            transition transform .5s
        &:hover
            &:before
                transform: scale(1.1);
        @media (max-width:1280px)
            padding 0 10px
        &-title
            color: #333333;
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
            margin-top 30px
            transition color .5s
            @media (max-width:865px)
                text-align center
            @media (max-width:375px)
                font-size 20px
        &-link
            &:hover
                text-decoration none
                .b-structuralUnits__item-title
                    color #e21a1a
        &-img
            box-shadow: 0 18px 54px rgba(0, 0, 0, 0.07);
            img
                width 100%
        
.lg-actions .lg-next, .lg-actions .lg-prev
    background none