.about-us
    margin-bottom 100px
    
    &__items
        display flex
        align-items center

        @media (max-width 1023px)
            flex-direction column

    &__img
        flex 0 0 605px
        width 605px
        max-width 605px

        img 
            max-width 100%
            height auto    

        @media (max-width 1023px)
            flex none
            max-width 100%
            margin-bottom 30px    

    &__body
        padding-right 65px
        padding-left 60px   

        @media (max-width 1280px)
            padding-right 30px

        @media (max-width 768px)
            padding-right 0    
            padding-left 0

    &__text
        font-size 18px
        color #333
        font-weight 400
        line-height 22px 
        margin-bottom 35px   
        