.b-clientsProjectsInner
    flex none
    margin-bottom 105px
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    &__title
        h1
            padding-top 20px
            padding-left 70px
            @media (max-width:640px)
                line-height 1.2
                padding-left 20px
            &:before
                left -306px
    &__title
        font-weight 700
        margin-bottom 10px
    &__inner
        padding 0 40px
        @media (max-width:1024px)
            padding 0 20px
    ul
        padding: 0 0 0 22px;
        list-style-type none
        li
            position relative
            &:before
                content ''
                position absolute
                top 8px
                left -22px
                width 6px
                height 6px
                background #e21a1a
                border-radius 50%
    &__item
        height 400px
        background-repeat no-repeat !important
        background-size cover !important
        background-position 50% 100% !important

        @media (max-width 1024px)
            height 350px

        @media (max-width 768px)
            height 200px     
    &__slider
        position relative
        margin-bottom 102px
        @media (max-width:1024px)
            margin-bottom 50px
        .owl-stage-outer
            max-width 1030px
            margin 0 auto
        .owl-prev,
        .owl-next
            display flex
            align-items center
            justify-content center
            width 49px
            height 49px
            border-radius 50%
            background-color #e8e8e8
            transition background-color .3s
            position absolute
            top 50%
            
            svg
                width 15px
                fill #000
                margin-left 3px

            &:hover
                background-color #e21a1a

                svg
                    fill #fff

            @media (max-width 439px)   
                width 25px
                height 25px

        .owl-prev
            left 0
            transform translate(-18%, -50%) rotate(180deg)   

        .owl-next
            right -20px
            transform translate(-20%, -50%)

        .owl-dots
            counter-reset dots
            min-width 135px
            display flex
            align-items flex-end
            position absolute
            bottom -82px
            left 50%
            transform translateX(-50%)

            @media (max-width 1279px)
                bottom -50px
            
            @media (max-width 639px)    
                display none

        .owl-dot
            margin-right 20px
            position relative
            margin-bottom 15px

            &:last-child
                margin-right 0

            &:before
                counter-increment dots
                content '0' counter(dots)
                font-size 20px
                color #b4b4b4
                font-weight 700
                line-height 20px
                transition font-size .3s, color .3s
                z-index 2
            &:after
                content ''
                position absolute
                bottom 5px
                left 50%
                transform translateX(-50%)
                width 0
                height 3px
                background-color transparent
                z-index -1
                transition width .3s

            &:hover
                &:before   
                    color #333

            &.active
                &:before
                    font-size 30px
                    color #333
                &:after
                    background-color #e21a1a
                    width 42px