.s-path
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	margin-top 20px
	margin-bottom 20px
	flex none

	@media (max-width:768px)
		font-size 12px
	a
		text-decoration none
		color #b2b1b1

		&:hover
			text-decoration: underline;
	&--pathPos
		position absolute
		top 0
		left 0
		right 0
		color #fff
		z-index: 2
		