.top-menu

    &__nav
        
        ul
            list-style-type none
            display flex
            padding-left 25px
            margin-bottom 0

            li
                position relative
                border-bottom 3px solid transparent
                transition color .3s, background-color .3s, border-color .3s
                &:hover
                    background-color #f3f3f3
                    border-bottom 3px solid #e21a1a
                    a
                        color #e21a1a

                &.sub-menu
                    &:after
                        content ''
                        position absolute
                        top 50%
                        margin-top -5px
                        right 12px
                        width 9px
                        height 9px
                        background url('../img/right-arrow.svg') 0 0 no-repeat

                    a
                        padding-right 35px

                    > ul
                        width 320px
                        display block
                        position absolute
                        padding-left 0
                        background-color #f3f3f3
                        opacity 0
                        z-index -1
                        visibility hidden
                        transition opacity .5s, ease .5s
                        
                        li
                            a
                                border-bottom 1px solid #ccc
                                padding 10px 15px
                                color #333333
                                &:hover
                                    color #e21a1a

                            &:last-child
                                a
                                    border-bottom none    

                    &:hover
                        ul
                            opacity 1
                            z-index 10
                            visibility visible
                            
                a
                    font-size 18px
                    color #333333
                    font-weight 400
                    line-height 22px
                    padding 44px 15px 45px 15px
                    display block
                    text-decoration none
                    transition color .3s, background-color .3s, border-color .3s