<div block="top-menu">
    <nav elem="nav">
        <ul>
            <li class="sub-menu">
                <a href="#">О компании</a>
                <ul>
                    <li><a href="#">Руководство</a></li>
                    <li><a href="#">Лицензии и сертификаты</a></li>
                    <li><a href="#">Клиенты и проекты</a></li>
                    <li><a href="#">Благодарности клиентов</a></li>
                    <li><a href="#">Вакансии</a></li>
                </ul>
            </li>
            <li><a href="#">Тендеры</a></li>
            <li><a href="#">Партнеры</a></li>
            <li><a href="#">Клиенты и проекты</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
</div><!-- top-menu -->