<div block="first-screen">
    <div elem="section" class="full-contain">
        {% if pageTitle != "РЖД - Транспортная безопасность" %}
            {% if headerLine != true %}
                {% include 's-path.html' %}
            {% endif %}
        {% endif %}
        <div elem="inner">

            {% if pageTitle == "РЖД - Транспортная безопасность" %}
                
            <div elem="items" mods="slider" class="js-first-screen-slider owl-carousel">
                <div elem="item">
                    <div elem="img" style="background: url('img/first-screen-img.jpg');"><div elem="img-before"></div></div>
                    <div elem="body" class="contain">
                        <h1 elem="title" class="title-line">Здесь будет заголовок</h1>
                        <div elem="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        <a elem="btn-more" class="site-btn" href="#">Подробнее</a>
                    </div>
                </div>
                <div elem="item">
                    <div elem="img" style="background: url('img/first-screen-img2.jpg');"><div elem="img-before"></div></div>
                    <div elem="body" class="contain">
                        <div elem="title" class="title-line">Здесь будет заголовок</div>
                        <div elem="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        <a elem="btn-more" class="site-btn" href="#">Подробнее</a>
                    </div>
                </div>
                <div elem="item">
                    <div elem="img" style="background: url('img/first-screen-img3.jpg');"><div elem="img-before"></div></div>
                    <div elem="body" class="contain">
                        <div elem="title" class="title-line">Здесь будет заголовок</div>
                        <div elem="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        <a elem="btn-more" class="site-btn" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if pageTitle == "Подразделение" %}
                
            <div elem="items" mods="inner-page">
                <div elem="item">
                    <div elem="img" style="background: url('img/first-screen-img2.jpg');"><div elem="img-before"></div></div>
                    <div elem="body" class="contain">
                        <h1 elem="title" class="title-line">ПТБ “Аэроэкспресс”</h1>
                    </div>
                </div>
            </div>

            {% endif %}

            {% if pageTitle == "О компании" %}
                
            <div elem="items" mods="inner-page">
                <div elem="item">
                    <div elem="img" style="background: url('img/aboutBg.png');"><div elem="img-before"></div></div>
                    <div elem="body" class="contain">
                        <h1 elem="title" class="title-line">Здесь будет заголовок</h1>
                        <div elem="desc">Lorem ipsum dolor sit amet</div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if pageTitle == "Детальная услуги" %}
                
            <div elem="items" mods="inner-page">
                <div elem="item">
                    <div elem="img" style="background: url('img/first-screen-img3.jpg');"><div elem="img-before"></div></div>
                    <div elem="body" class="contain">
                        <h1 elem="title" class="title-line">Обеспечение транспортной <br> безопасности</h1>
                    </div>
                </div>
            </div>

            {% endif %}
        </div>
    </div>
</div><!-- first-screen -->