.first-screen
    position relative

    @media (max-width 1279px)
        margin-top 64px
    
    &__section
        @media (max-width 768px)
            display flex
            flex-direction column


    .s-path
        color #fff
        position absolute
        top 0
        left 50%
        transform translateX(-50%)
        z-index 2
        @media (max-width 768px)
            color #000

        &__separator
            color #8d8d8d

        @media (max-width 768px)
            position static
            order 1
            transform none

    &__items
        position relative
        &--slider

            & ^[0]

                &__img
                    height 661px
                    background-repeat no-repeat !important
                    background-size cover !important
                    background-position 50% 100% !important

                    @media (max-width 1024px)
                        height 450px

                    @media (max-width 768px)
                        height 260px     


        .owl-prev,
        .owl-next
            display flex
            align-items center
            justify-content center
            width 49px
            height 49px
            border-radius 50%
            background-color #ffffff
            transition background-color .3s
            position absolute
            top 50%
            
            svg
                width 15px
                fill #000
                margin-left 3px

            &:hover
                background-color #e21a1a

                svg
                    fill #fff

            @media (max-width 439px)   
                width 25px
                height 25px

        .owl-prev
            left 18%
            transform translate(-18%, -50%) rotate(180deg)   

            @media (max-width 1600px)
                left 11%

            @media (max-width 1440px)
                left 7%

            @media (max-width 1366px)    
                left 3%    

        .owl-next
            right 16%
            transform translate(-20%, -50%)

            @media (max-width 1600px)
                right 10%

            @media (max-width 1440px)    
                right 5%

            @media (max-width 1366px)    
                right 2%

        .owl-dots
            counter-reset dots
            min-width 135px
            display flex
            align-items flex-end
            position absolute
            bottom 25px
            left 50%
            transform translateX(-50%)

            @media (max-width 1279px)
                bottom 0
            
            @media (max-width 639px)    
                display none

        .owl-dot
            margin-right 20px
            position relative
            margin-bottom 15px

            &:last-child
                margin-right 0

            &:before
                counter-increment dots
                content '0' counter(dots)
                font-size 20px
                color #b4b4b4
                font-weight 700
                line-height 20px
                transition font-size .3s, color .3s
                z-index 2
            &:after
                content ''
                position absolute
                bottom 5px
                left 50%
                transform translateX(-50%)
                width 0
                height 3px
                background-color transparent
                z-index -1
                transition width .3s

            &:hover
                &:before   
                    color #fff

            &.active
                &:before
                    font-size 30px
                    color #fff
                &:after
                    background-color #e21a1a
                    width 42px


    &__img
        width 1920px
        max-width 100%
        position relative
        overflow hidden
        height 500px
        background-repeat no-repeat !important
        background-size cover !important
        background-position 50% 100% !important
        @media (max-width 1024px)
            height 450px   
        @media (max-width:792px)
            height 250px
        @media (max-width:425px)
            height 150px
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100% 
            background-color #000000
            opacity 0.7
            z-index 1

        &:after
            content ''
            position absolute
            top 0
            right 0
            width 490px
            height 661px
            background url('../img/triangle_img-bg.png') 0 0 no-repeat
            z-index 1
            @media (max-width:600px)
                right -50px
        &-before
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            &:before
                content ''
                position absolute
                top 0
                left 0
                width 179px
                height 242px
                background url(../img/triangletopmin.png) 0 0 no-repeat
                background-size: contain
                z-index 1
                @media (max-width:600px)
                    left -100px
    &__body
        color #fff
        width 690px
        max-width 100%
        margin 0 auto
        position absolute
        top 50%
        left 50%
        transform translate(-72%, -50%)
        z-index 2

        @media (max-width 1279px)
            transform translate(-50%, -50%)
        
        @media (max-width 959px)
            width 480px

        @media (max-width 639px)   
            width 400px    

        @media (max-width 480px)   
            width 320px    
    
    &__title
        font-size 60px
        font-weight 400
        line-height 72px    
        padding-bottom 10px
        margin-bottom 20px

        @media (max-width 1023px)
            font-size 40px
            line-height 46px

        @media (max-width 639px)   
            font-size 34px
            line-height 38px

        @media (max-width 480px)   
            font-size 26px
            line-height 32px

        @media (max-width 439px)   
            &:before
                display none    

    &__desc
        font-size 24px
        font-weight 400
        line-height 30px    

        @media (max-width 1279px)
            font-size 18px
            line-height 24px

        @media (max-width 959px)
            display none    

    &__btn-more
        margin-top 55px    

        @media (max-width 1279px)
            margin-top 25px

        @media (max-width 480px)   
            padding 10px 15px
            width 120px
            margin 0 auto    

.subdivision

    .first-screen
        
        &__title
            font-weight 800
.about

    .first-screen
        &__body
            width 700px
        &__title
            font-weight 800

.detailed-services

    .first-screen

        &__body
            width 830px
        
        &__title
            font-weight 800
            &:before
                display none

            @media (max-width 375px)
                font-size 20px
                line-height 20px
.first-screen__items--slider .first-screen__img:after
    @media (max-width:600px)
            right: -100px;
    