.fixed-panel
    position fixed
    top -84px
    left 0
    width 100%
    background-color #fff
    border-bottom 4px solid #e21a1a
    box-shadow 0px 12px 42px rgba(0,0,0,0.1)
    transition top .3s
    z-index 100
    @media (max-width 1279px)
        display none

    &.fixed-panel-show
        top 0
    
    &__inner
        display flex
        justify-content space-between    
        align-items center

    .logo
        top 3px
        @media (max-width 1100px)
            transform translateX(-20%)
        
        @media (max-width 1023px)
            display none

        &__img
            width 80px
            margin-bottom 0

        &__desc
            display none

    .top-menu

        &__nav
        
            ul      
                li

                    a
                        padding-top 20px
                        padding-bottom 20px  

    .contacts

        &__mail
            display none        