<div block="fixed-panel" class="js-fixed-panel fixed-panel-init">
    <div elem="section">
        <div elem="inner" class="contain">
            {% include "logo.html" %}
            {% include "top-menu.html" %}
            {% include "contacts.html" %}
        </div>
    </div>
</div><!-- fixed-panel -->