.logo
    width 115px

    &__img
        width 115px
        max-width 100%
        font-size 0
        display block
        margin-bottom 5px

        img 
            max-width 100%
            height auto

    &__desc
        font-size 14px
        color #e21a1a
        font-weight 600     
        line-height 18px
        display block   