<div block="b-guide">
	<div elem="title"><h1 class="site-title contain">Руководство</h1></div><!-- <= title -->
	<div elem="inner" class="contain">
		<div elem="text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
		</div><!-- <= text -->
		<div elem="items">
			<div elem="item">
				<div elem="item-img"><img src="img/guide.png" alt=""></div><!-- <= item-img -->
				<div elem="item-anonce">
					<div elem="item-title">Иванов Иван Иванович</div><!-- <= item-title -->
					<div elem="item-position">Руководитель транспортной безопасностью</div><!-- <= item-title -->
					<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam</div><!-- <= item-title -->
					<div elem="item-mail"><a href="#"><img src="img/mail.png" alt="">ivanov@rzd-tb.ru</a></div><!-- <= item-title -->
				</div><!-- <= item-anonce -->
			</div><!-- <= item -->
			<div elem="item">
				<div elem="item-img"><img src="img/guide.png" alt=""></div><!-- <= item-img -->
				<div elem="item-anonce">
					<div elem="item-title">Иванов Иван Иванович</div><!-- <= item-title -->
					<div elem="item-position">Руководитель транспортной безопасностью</div><!-- <= item-title -->
					<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam</div><!-- <= item-title -->
					<div elem="item-mail"><a href="#"><img src="img/mail.png" alt="">ivanov@rzd-tb.ru</a></div><!-- <= item-title -->
				</div><!-- <= item-anonce -->
			</div><!-- <= item -->
			<div elem="item">
				<div elem="item-img"><img src="img/guide.png" alt=""></div><!-- <= item-img -->
				<div elem="item-anonce">
					<div elem="item-title">Иванов Иван Иванович</div><!-- <= item-title -->
					<div elem="item-position">Руководитель транспортной безопасностью</div><!-- <= item-title -->
					<div elem="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam</div><!-- <= item-title -->
					<div elem="item-mail"><a href="#"><img src="img/mail.png" alt="">ivanov@rzd-tb.ru</a></div><!-- <= item-title -->
				</div><!-- <= item-anonce -->
			</div><!-- <= item -->
		</div><!-- <= items -->
	</div><!-- <= inner -->
</div><!-- b-guide -->