.b-guide
    margin-bottom 105px
    @media (max-width:1024px)
        margin-bottom 50px
    &__title
        h1
            padding-top 20px
            padding-left 70px
            @media (max-width:640px)
                line-height 1.2
                padding-left 20px
            &:before
                left -306px
    &__inner
        padding 0 40px
        @media (max-width:1024px)
            padding 0 20px
    &__text
        margin-bottom 40px
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        line-height 1.5
    &__items
        display:flex;
        justify-content space-between
        flex-wrap wrap
        @media (max-width:1274px)
            justify-content space-around
    &__item
        max-width 393px
        width 100%
        background #fff
        box-shadow: 0 18px 54px rgba(0, 0, 0, 0.07);
        border-bottom: 3px solid #e21a1a
        @media (max-width:1274px)
            margin-bottom 30px
        &-img
            img
                width 100%
        &-anonce
            padding 26px
        &-title
            color: #333333;
            font-size: 22px;
            font-weight: 700;
            line-height: 22px;
            margin-bottom 10px
            @media (max-width:340px)
                font-size 18px
        &-position,
        &-text
            color: #333333;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom 15px
            @media (max-width:340px)
                font-size 15px
        &-mail
            a
                color: #333333;
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                transition color .5s
                @media (max-width:340px)
                    font-size 15px
                &:hover
                    color #e21a1a
                img
                    margin-right 12px