.pagination
    display flex
    justify-content center
    margin-top 50px
    margin-bottom 120px

    @media (max-width 1024)
        margin-top 30px
        margin-bottom 30px

    a
        font-size 18px
        color #033333
        font-weight 600
        padding 5px 10px
        margin-right 5px
        display block
        border-bottom 3px solid transparent
        transition border-color .3s
        &:last-child
            margin-right 0

        &:hover
            text-decoration none    
            border-color #e21a1a

        &.is-active
            border-color #e21a1a
            cursor default
