.reviews-about-us
    margin-bottom 90px

    @media (max-width 1024px)
        margin-bottom 15px
    
    &__title
        margin-bottom 0 !important

    &__items

        .owl-stage-outer
            padding-top 80px
            padding-bottom 80px

            @media (max-width 639px)
                padding-top 30px

        .owl-prev,
        .owl-next
            display flex
            align-items center
            justify-content center
            width 49px
            height 49px
            border-radius 50%
            background-color #e8e8e8
            transition background-color .3s
            position absolute
            top 50%
            
            svg
                width 15px
                fill #000
                margin-left 3px

            &:hover
                background-color #e21a1a

                svg
                    fill #fff

            @media (max-width 480px)
                width 30px
                height 30px        

        .owl-prev
            left 0
            transform translate(-18%, -50%) rotate(180deg)   

            @media (max-width 1280px)
                left 20px
            
            @media (max-width 480px)
                left 10px

        .owl-next
            right 0
            transform translate(-20%, -50%)  

    &__body
        width 1090px
        max-width 100%
        padding 65px 80px 60px 70px
        margin 0 auto
        background-color #fff
        box-shadow 0 18px 54px rgba(0, 0, 0, 0.07)

        @media (max-width 1280px)
            width 768px

        @media (max-width 959px)
            width 640px    

        @media (max-width 640px)
            padding-top 30px
            padding-bottom 30px    

        @media (max-width 480px)
            padding-right 20px
            padding-left 30px

    &__name
        font-size 20px
        color #333
        font-weight 400 
        padding-bottom 5px
        margin-bottom 15px

        @media (max-width 639px)
            font-size 18px

    &__text    
        font-size 18px
        color #333333
        font-weight 400   

        @media (max-width 639px)
            font-size 14px

    &__btn-more
        margin -25px auto 0
        position relative
        z-index 5