<div block="reviews-about-us">
    <div elem="section">
        <div elem="inner">
            <div elem="head" class="full-contain">
                <div elem="title" class="site-title contain">Отзывы</div>
            </div>
            <div elem="items" class="contain js-reviews-about-us-slider owl-carousel">
                <div elem="item">
                    <div elem="body">
                        <div elem="name" class="title-line">Фирма “РосСталь”</div>
                        <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="name" class="title-line">Фирма “РосСталь”</div>
                        <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="name" class="title-line">Фирма “РосСталь”</div>
                        <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</div>
                    </div>
                </div>
            </div>
            <a elem="btn-more" class="site-btn" href="#">Все отзывы</a>
        </div>
    </div>
</div><!-- reviews-about-us -->