<div block="contact-info">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="title" class="title-line">Контактная информация:</div>
            <div elem="items">
                <div elem="item">
                    {{ _icon('location-icon', { tag: 'i' }) }}
                    <span elem="text">Адрес: Московская обл., г. Химки, аэропорт Шереметьево</span>
                </div>
                <div elem="item">
                    <i elem="icon"><img src="img/profile-icon.png" alt=""></i>
                    <span elem="text">Начальник ПТБ: Иваненкова Марина Алексеевна</span>
                </div>
                <div elem="item">
                    {{ _icon('mail-icon', { tag: 'i' }) }}
                    <span elem="text">Адрес электронной почты: <a href="mailto:ptb.aero@rzd-tb.ru">ptb.aero@rzd-tb.ru</a></span>
                </div>
            </div>
        </div>
    </div>
</div><!-- contact-info -->