.contact-info
    margin-top 35px
    margin-bottom 100px

    @media (max-width 1024px)
        margin-bottom 30px

    &__inner
        width 605px
        max-width 100%
        padding 25px 30px
        box-shadow 0 18px 54px rgba(0, 0, 0, 0.07)
        background-color #fff

    &__item
        display flex
        align-items center    
        margin-bottom 10px

        .svg-icon
            fill #c8c5c5
            margin-right 15px

        .svg-icon--location-icon
            width 12px

        .svg-icon--mail-icon
            width 16px

    &__title
        font-size 18px
        color #333
        font-weight 600
        line-height 32px
        margin-bottom 30px    

    &__icon
        flex 0 0 12px
        width 12px
        max-width 12px
        margin-right 15px

        @media (max-width 440px)
            margin-right 10px

        img 
            max-width 100%
            height auto    

    &__text
        font-size 16px
        color #333333
        font-weight 400
        line-height 20px

        a
            color inherit