= yaml =
pageTitle: Ошибка 404 - Страница не найдена
bodyClasses: error404
layout: !!map
    header: false
    footer: false
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block inlineStyles %}
	<style>
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0 0 10px;
		}

		p {
			margin: 0 0 20px;
		}
		.app__main {
			position: relative;
		}
		.app__main:before {
			content:'';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 296px;
			background: url(../img/railways.png) 50% 0 no-repeat;
			z-index: -1;
		}
		.container {
			padding: 20px;
			text-align: center;
		}
		.title-404 {
			color: #333333;
			font-size: 54px;
			font-weight: 700;
		}
		.container-404 {
			color: #333333;
			font-size: 24px;
			font-weight: 600;
			text-decoration: none;
			margin-top: 79px;
		}
		.container-404 a {
			color: #e21a1a;
		}
		.img {
			width: 100%;
			max-width: 448px;
			margin: 0 auto;
			text-align: center;
		}

		.img img {
			width: 100%;
			height: auto;
			display: inline-block;
			margin-bottom: 20px;
		}

		@media (min-width: 960px) {
			.container {
				width: 100%;
				max-width: 960px;
				margin: 0 auto;
			}
		}
	</style>
{% endblock %}

{% block main %}

<div class="container">
	<div class="container-404">
		<div class="img"><img src="img/404.png" alt=""></div><!-- <= img -->
		<h1 class="title-404">Ошибка</h1>
		<span>Страница не найдена. Но Вы можете вернуться на </span>
		<a href="index.html">главную</a>
	</div>
</div>

{% endblock %}
