= yaml =
pageTitle: Детальная услуги
bodyClasses: detailed-services
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
    {"title":О компании},
    {"title":Обеспечение транспортной безопасности},
]    
= yaml =

{% extends 'app.html' %}


{% block main %}

    <div class="info-text contain">
        <p>
            В ходе выполнения мероприятий по защите объектов транспортной инфраструктуры от актов незаконного вмешательства подразделениями транспортной безопасности решаются основные задачи:
        </p>
    </div>

    <div block="site-content" class="contain">
        <ul>
            <li>Реагирование на подготовку совершения или совершение актов незаконного вмешательства в деятельность объектов транспортной инфраструктуры</li>
            <li>Реагирование на нарушения пропускного и внутриобъектового режимов на объектах транспортной инфраструктуры.</li>
            <li>Проведение мероприятий на объектах транспортной инфраструктуры по обследованию с использованием средств досмотра физических лиц, транспортных средств, грузов, багажа, ручной клади и личных вещей в целях обеспечения транспортной безопасности.</li>
            <li>Обеспечение непрерывного контроля выводимых данных, эксплуатационных и функциональных показателей инженерно-технических систем обеспечения транспортной безопасности с целью выявления нарушителей, совершения или подготовки к совершению АНВ.</li>
            <li>Обследование совместно с представителями собственников объектов транспортной инфраструктуры железнодорожного транспорта по вопросам их антитеррористической защищенности, представление предложений и рекомендаций по их защите.</li>
            <li>Патрульный обход (объезд) периметра зоны транспортной безопасности и уязвимых (криминогенных) участков железных дорог.</li>
            <li>Выявление правонарушителей, предметов и веществ, запрещенных для перемещения в зону транспортной безопасности, с последующей передачей их представителям правоохранительных органов.</li>
            <li>Проведение учений и тренировок с собственниками объектов по реализации планов обеспечения транспортной безопасности  транспортной инфраструктуры от актов незаконного вмешательства.</li>
        </ul>
    </div><!-- b:site-content -->

    {% include "additional-services.html" %}
    
{% endblock %}
