= yaml =
pageTitle: Вакансии
bodyClasses: jobs-page
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
    {"title":О компании},
]
headerLine: true
= yaml =

{% extends 'app.html' %}


{% block main %}
    {% include 's-path.html' %} 
    <h1 class="site-title contain">Вакансии</h1>

    <div class="info-text contain">
        <p>
            В этом разделе вы можете ознакомиться с отзывами наших клиентов о продукции DIXION. Медицинское оборудование компании DIXION успешно эксплуатируется 
            в 77 регионах Российской Федерации. Количество лечебных учреждений, в которых установлена медицинская техника Диксион – более 3500 по всей России.
        </p>
    </div>

    {% include "accordion.html" %}

    
{% endblock %}
