= yaml =
pageTitle: Новости
bodyClasses: news-page
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
]
headerLine: true
= yaml =

{% extends 'app.html' %}


{% block main %}
    {% include 's-path.html' %} 

    <h1 class="site-title contain">Новости</h1>

    <div class="news-items contain">
        {% include "news-thumb.html" %}
        {% include "news-thumb.html" %}
        {% include "news-thumb.html" %}
        {% include "news-thumb.html" %}
        {% include "news-thumb.html" %}
        {% include "news-thumb.html" %}
        {% include "news-thumb.html" %}
        {% include "news-thumb.html" %}
        {% include "news-thumb.html" %}
    </div>

    {% include "pagination.html" %}
    
{% endblock %}
