= yaml =
pageTitle: Благодарности клиентов
bodyClasses: reviews
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
    {"title":О компании},
]
headerLine: true
= yaml =

{% extends 'app.html' %}


{% block main %}
    {% include 's-path.html' %}
    <h1 class="site-title contain">Отзывы</h1>

    <div class="info-text contain">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
        </p>
    </div>

    <div class="reviews-items contain">
        {% include "reviews-thumb.html" %}
        {% include "reviews-thumb.html" %}
        {% include "reviews-thumb.html" %}
        {% include "reviews-thumb.html" %}
        {% include "reviews-thumb.html" %}
    </div>

	{% include "pagination.html" %}


{% endblock %}
