= yaml =
pageTitle: Подразделение
bodyClasses: subdivision
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
    {"title":О компании},
    {"title":Структурные подразделения},
    {"title":ПТБ Аэроэкспресс},
]    
= yaml =

{% extends 'app.html' %}


{% block main %}

    <div class="info-text contain">
        <p>
            ПТБ «Аэроэкспресс» обеспечивает защиту Вокзального комплекса ООО «Аэроэкспресс» в аэропорту Шереметьево от актов незаконного вмешательства. 
            С апреля 2019 года в круглосуточном режиме силами сотрудников ПТБ «Аэроэкспресс» обеспечивается защита объекта транспортной инфраструктуры 
            в аэропорту Шереметьево.
        </p>
    </div>

    {% include "contact-info.html" %}
    
{% endblock %}
