= yaml =
pageTitle: Тендеры
bodyClasses: tenders-page
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
]
headerLine: true
= yaml =

{% extends 'app.html' %}


{% block main %}
    {% include 's-path.html' %} 
    <h1 class="site-title contain">Тендеры</h1>

    <div class="tenders-items contain">
        {% include "tenders-thumb.html" %}
        {% include "tenders-thumb.html" %}
        {% include "tenders-thumb.html" %}
        {% include "tenders-thumb.html" %}
        {% include "tenders-thumb.html" %}
    </div>

    {% include "pagination.html" %}
    
{% endblock %}
