<div block="tenders-thumb">
    <div elem="body">
        Закупка товаров, работ и услуг проводится в соответствии с Федеральным законом от 18 июля 2011 года № 223-ФЗ 
        "О закупках товаров, работ, услуг отдельными видами юридических лиц". <a href="#">Сведения о закупках размещаются 
        на Официальном сайте Единой информационной системы в сфере закупок.</a>
    </div>
</div><!-- tenders-thumb -->