.tenders-thumb

    &__body
        font-size 22px
        color #333
        font-weight 400
        line-height 26px
        padding-left 30px
        margin-bottom 60px
        border-left 3px solid #e21a1a
        
        a
            color inherit
            text-decoration underline
            &:hover
                text-decoration none

        @media (max-width 480px)        
            font-size 18px
            margin-bottom 35px