.news-thumb
    padding-left 30px
    margin-bottom 30px
    flex 0 0 33%
    width 33%
    max-width 33%
    display flex

    @media (max-width 960px)
        flex 0 0 50%
        width 50%
        max-width 50%
        margin-bottom 30px

    @media (max-width 480px)
        flex 0 0 100%
        width 100%
        max-width 100%

    &__body
        width 100%
        display flex
        flex-direction column
        background-color #fff
        border-bottom 3px solid #e21a1a
        box-shadow 0 18px 54px rgba(0, 0, 0, 0.07)
        &:hover
            text-decoration none
            &:hover
                text-decoration none

                & ^[0]
                    &__name
                        color #e21a1a

                    &__img

                        img
                            transform scale(1.1)

                    &__announce
                        &:after
                            right -5px

    &__img
        display block
        overflow hidden

        img 
            max-width 100%
            height auto      
            transition transform .8s

    &__bot
        flex 1 1 auto
        padding 15px 20px         

    &__name
        font-size 20px
        color #333
        font-weight 700
        line-height 22px     
        transition color .3s 
        display block
        margin-bottom 10px
        position relative
        z-index 1  

    &__announce
        font-size 18px
        color #333
        font-weight 400
        line-height 22px 
        display block
        position relative
        &:after
            content ''
            position absolute
            right 0
            bottom 0
            width 18px
            height 18px
            background url('../img/right-arrow2.svg') 0 0 no-repeat
            transition right .3s

            @media (max-width 1023px)
                display none
.news-page
    .s-path
        padding-left 45px
    @media (max-width:480px)
        h1
            padding-left 45px