<div block="news-thumb">
    <a elem="body" href="#">
        <span elem="top">
            <span elem="img"><img src="img/news-img.jpg" alt=""></span>
        </span>
        <span elem="bot">
            <span elem="name">Техника Dixion в Московском областном госпитале ветеранов войн</span>
            <span elem="announce">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor massa, laoreet ac semper ut, faucibus at velit.</span>
        </span>
    </a>
</div><!-- news-thumb -->