.b-aboutText
	flex none
	display:flex;
	margin-bottom 105px
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	@media (max-width:768px)
		flex-direction: column;
	img
		width 100%
	@media (max-width:768px)
		margin-bottom 50px
		img
			margin 0 0 15px
	&__title
		font-weight 700
		margin-bottom 10px
	&__right
		margin-left 30px
		@media (max-width:800px)
			margin-left 0
	ul
		padding: 0 0 0 22px;
		list-style-type none
		li
			position relative
			&:before
				content ''
				position absolute
				top 8px
				left -22px
				width 6px
				height 6px
				background #e21a1a
				border-radius 50%