<div block="additional-services">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="title">Дополнительные услуги</div>
            <div elem="items">
                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="img"><img src="img/services-img2.jpg" alt=""></span>
                        <span elem="name">
                            {{ _icon('underground-icon', { tag: 'i' }) }}
                            Сопровождение поездов
                            {{ _icon('right-arrow2', { tag: 'i' }) }}
                        </span>
                    </a>
                </div>
                <div elem="item">
                    <a elem="body" href="#">
                        <span elem="img"><img src="img/services-img.jpg" alt=""></span>
                        <span elem="name">
                            {{ _icon('shield-icon', { tag: 'i' }) }}
                            Защита объектов транспортной инфраструктуры <br>
                            от актов незаконного вмешательства
                            {{ _icon('right-arrow2', { tag: 'i' }) }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- additional-services -->