html,
body
    margin 0
    padding 0

    &.home
        .app__content
            padding-top 50px
            background url('../img/logo_bg.png') 100% 10% no-repeat, url('../img/logo_bg.png') 100% 80% no-repeat, url('../img/triangle_bg-bot.png') 0 100% no-repeat, url('../img/triangle_bg-top.png') 100% 0 no-repeat

        .site-title
            &:after
                display block

html
    min-height 100%
    min-height 100vh

.app
    display flex
    flex-direction column
    height 100%
    height 100vh
    counter-reset num

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1

.contain
    max-width 1280px + 15px + 15px
    width 100%
    padding-right 15px
    padding-left 15px
    margin 0 auto

.full-contain
    max-width 1920px
    width 100%
    margin 0 auto

.site-btn
    font-size 16px
    color #fff
    font-weight 700
    line-height 22px
    text-align center
    background-color #e21a1a
    padding 15px 30px
    display block
    width 160px
    max-width 100%
    border none
    transition background-color .3s
    &:hover
        color #fff
        text-decoration none
        background-color lighten(#e21a1a, 10%)

.site-title
    font-size 36px
    color #333
    font-weight 700
    line-height 40px
    position relative
    padding-top 40px
    padding-left 160px
    margin-bottom 50px
    &:before
        content ''
        position absolute
        bottom 5px
        left -325px
        width 340px
        height 4px
        background-color #ededed

        @media (max-width 640px)
            display none

    &:after
        counter-increment num
        content '0' counter(num)
        font-size 100px
        color #e21a1a
        font-weight 700
        line-height 65px
        position absolute
        top 10px
        left 20px
        opacity 0.2
        display none

        @media (max-width 640px)
            display none !important

    @media (max-width 640px)
        font-size 28px
        padding-top 15px
        padding-left 15px
        margin-bottom 25px

.title-line
    position relative
    &:before
        content ''
        position absolute
        bottom 0
        left 0
        width 71px
        height 3px
        background-color #e21a1a

.info-text
    font-size 16px
    color #333333
    font-weight 400
    line-height 22px
    padding-right 100px

    @media (max-width 640px)
        padding-right 0

    p
        &:last-child
            margin-bottom 0

.news-items
    display flex
    flex-wrap wrap

.news-page
    margin-left -30px

    h1
        padding-left 80px

        @media (max-width 480px)
            padding-left 15px

.services-page

    h1
        padding-left 80px

        @media (max-width 480px)
            padding-left 15px

.tenders-page

    h1
        padding-left 80px

        @media (max-width 480px)
            padding-left 15px

.reviews

    h1
        padding-left 80px

        @media (max-width 480px)
            padding-left 15px

    .reviews-items
        margin-top 50px

.jobs-page

    h1
        padding-left 80px

        @media (max-width 480px)
            padding-left 15px

    .info-text
        padding-right 0

.seo-block
    color #333333
    padding-left 40px
    margin-bottom 90px

    @media (max-width 1024px)
        padding-left 15px
        margin-bottom 30px

    h3
        font-size 22px
        font-weight 700
        line-height 22px
        margin-bottom 20px

    p
        font-size 16px
        font-weight 400
        line-height 22px
        &:last-child
            margin-bottom 0

.site-content
    margin-top 30px
    margin-bottom 30px

    ul
        list-style-type none
        padding-left 0
        margin-bottom 0

        li
            font-size 16px
            color #333
            font-weight 600
            line-height 22px
            padding-left 20px
            position relative
            margin-bottom 3px
            &:before
                content ''
                position absolute
                top 7px
                left 0
                width 6px
                height 6px
                background-color #e21a1a
                border-radius 50%

            @media (max-width 480px)
                font-size 14px

.services-page

    .services
        margin-bottom 40px

*
    outline none !important
